<%- include('inc/header.html') %>
    <%- include('inc/private-menu.html') %>
        <div id="info" data-current-id="investments" data-main-menu-current-id="banking-head"></div>
        <!-- Main content-->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="/">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Private banking</a></div>
                    <div class="breadcrumbs__step"><a href="investments.html">Инвестиции</a></div>
                    <div class="breadcrumbs__step"><span>Брокерское обслуживание</span></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page">
                    <div class="page__sidebar sidebar">
                        <div class="sidebar__overlay"></div>
                        <div class="sidebar__items">
                            <div class="sidebar__item ">
                                <div class="sidebar__item-text">
                                    <a href="rko.html">Операции с драгоценными металлами </a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item sidebar__item--selected">
                                <div class="sidebar__item-text">
                                    <a href="brokers.html">Брокерское обслуживание</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Структурированные продукты</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Участие в размещении облигаций</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Депозитарное обслуживание</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page__content basic-page">
                        <div class="investments__wrapper">
                            <div class="investments-title">
                                <h1>Брокерское обслуживание</h1>
                            </div>
                            <div class="consulting-wrapper--brokers">
                                <ul class="consulting-list__credit-private">
                                    <h3 class="consulting-list__title text--400 text--dark-blue text--LM">
                                        VIP-клиенты банка МФК имеют возможность осуществлять покупку/продажу ценных
                                        бумаг, номинированных в рублях и иностранной
                                        валюте, в том числе:
                                    </h3>
                                    <li class="consulting-list__item--brokers">
                                        <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                        <p class="item__text">
                                            Акции и инструменты с фиксированной доходностью
                                        </p>
                                    </li>
                                    <li class="consulting-list__item--brokers">
                                        <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                        <p class="item__text">
                                            Помимо вторичных торгов, мы обеспечиваем участие клиентов в первичных
                                            размещениях долговых инструментов, проводимых
                                            нашим партнером Renaissance Capital
                                        </p>
                                    </li>
                                    <li class="consulting-list__item--brokers">
                                        <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                        <p class="item__text">
                                            Доступ к участию в первичных размещениях (IPO)
                                        </p>
                                    </li>
                                    <li class="consulting-list__item--brokers">
                                        <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                        <p class="item__text">
                                            Ответственные инвестиции — это стратегия, которая дает инвестору возможность
                                            сформировать долгосрочный капитал с помощью
                                            ответственного инвестирования. Средства вкладываются в акции и облигации
                                            устойчивых, платёжеспособных и растущих
                                            компаний, которые следуют международным принципам ESG.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="default-card">
                                <div class="default-card__wrap">
                                    <div class="cyan-tabs m--b-25 ">
                                        <div class="tabs" data-underline="true" data-tab-container-id="doc-tabs">
                                            <div class="tabs__tab text--blue-cyan text--400 text--M"
                                                data-tab-window-id="tarifs">
                                                <span>Тарифы</span>
                                            </div>
                                            <div class="tabs__tab active text--blue-cyan text--400 text--M"
                                                data-tab-window-id="docs">
                                                <span>Документы</span>
                                            </div>
                                            <div class="tabs__underline">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="brokers-docs__wrap tabs__windows" id="doc-tabs">
                                        <div class="tarifs tabs__tab-window" id="tarifs">
                                            <div class="document-list__document">
                                                <div class="document-list__document__content-wrapper">
                                                    <div class="document-list__document__icon">
                                                        <img src="../assets/img/images/pdf.png" alt="pdf">
                                                    </div>
                                                    <div class="document-list__document__text-wrapper">
                                                        <div class="document-list__document__title">
                                                            <span>Перечень страховых организаций, удовлетворяющих
                                                                требованиям
                                                                Банка</span>
                                                        </div>
                                                        <div class="document-list__document__description">
                                                            <span>PDF, 279 КБ / 04 июня 2018</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="document-list__document">
                                                <div class="document-list__document__content-wrapper">
                                                    <div class="document-list__document__icon">
                                                        <img src="../assets/img/images/pdf.png" alt="pdf">
                                                    </div>
                                                    <div class="document-list__document__text-wrapper">
                                                        <div class="document-list__document__title">
                                                            <span>Перечень страховых организаций, удовлетворяющих
                                                                требованиям
                                                                Банка</span>
                                                        </div>
                                                        <div class="document-list__document__description">
                                                            <span>PDF, 279 КБ / 04 июня 2018</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="document-list__document"
                                                data-readmore-identifier="doc-list-readmore">
                                                <div class="document-list__document__content-wrapper">
                                                    <div class="document-list__document__icon">
                                                        <img src="../assets/img/images/pdf.png" alt="pdf">
                                                    </div>
                                                    <div class="document-list__document__text-wrapper">
                                                        <div class="document-list__document__title">
                                                            <span>Перечень страховых организаций, удовлетворяющих
                                                                требованиям
                                                                Банка</span>
                                                        </div>
                                                        <div class="document-list__document__description">
                                                            <span>PDF, 279 КБ / 04 июня 2018</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="docs tabs__tab-window" id="docs">
                                            <div class="document-list__document">
                                                <div class="document-list__document__content-wrapper">
                                                    <div class="document-list__document__icon">
                                                        <img src="../assets/img/images/pdf.png" alt="pdf">
                                                    </div>
                                                    <div class="document-list__document__text-wrapper">
                                                        <div class="document-list__document__title">
                                                            <span>Общие условия оказания брокерских услуг на рынке
                                                                ценных бумаг физическим лицам</span>
                                                        </div>
                                                        <div class="document-list__document__description">
                                                            <span>PDF, 279 КБ / 04 июня 2018</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="document-list__document">
                                                <div class="document-list__document__content-wrapper">
                                                    <div class="document-list__document__icon">
                                                        <img src="../assets/img/images/pdf.png" alt="pdf">
                                                    </div>
                                                    <div class="document-list__document__text-wrapper">
                                                        <div class="document-list__document__title">
                                                            <span>Политика совершения торговых операций за счет
                                                                клиентов</span>
                                                        </div>
                                                        <div class="document-list__document__description">
                                                            <span>PDF, 279 КБ / 04 июня 2018</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="document-list__document"
                                                data-readmore-identifier="doc-list-readmore">
                                                <div class="document-list__document__content-wrapper">
                                                    <div class="document-list__document__icon">
                                                        <img src="../assets/img/images/pdf.png" alt="pdf">
                                                    </div>
                                                    <div class="document-list__document__text-wrapper">
                                                        <div class="document-list__document__title">
                                                            <span>Перечень страховых организаций, удовлетворяющих
                                                                требованиям
                                                                Банка</span>
                                                        </div>
                                                        <div class="document-list__document__description">
                                                            <span>PDF, 279 КБ / 04 июня 2018</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="document-list__read-more read-more__wrapper">
                                        <div class="read-more readmore" id="doc-list-readmore">
                                            <span class="read-more__text-more">Смотреть все</span>
                                            <span class="read-more__text-less">Скрыть</span>
                                            <img src="../assets/img/svg/read-more-btn.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <%- include('inc/footer.html') %>
            </body>

            </html>