<%- include('inc/header.html') %>
    <%- include('inc/private-menu.html') %>
        <div id="info" data-current-id="rko" data-main-menu-current-id="banking-head"></div>
        <!-- Main content-->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="/">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Private banking</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Расчеты</a></div>
                    <div class="breadcrumbs__step"><span>Расчеты при покупке недвижимости с использованием
                            аккредитива</span></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page">
                    <div class="page__sidebar sidebar">
                        <div class="sidebar__overlay"></div>
                        <div class="sidebar__items">
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="rko.html">РКО</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Ячейки</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="premiumcards.html">Премиальные пластиковые карты</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item sidebar__item--selected">
                                <div class="sidebar__item-text">
                                    <a href="calculations.html">Расчеты при покупке недвижимости<br> с использованием
                                        аккредитива</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page__content basic-page">
                        <div class="calculations__wrapper">
                            <div class="calculations-picture ibg ibg--contain">
                                <div class="calculations-picture__wrap">
                                    <h1 class="calculations-picture__title">
                                        Расчеты при покупке недвижимости с использованием аккредитива
                                    </h1>
                                </div>
                                <img src="../assets/img/images/calculations.jpg" alt="" />
                            </div>
                            <div class="calculations-text">
                                <p class="calculations-text__item">
                                    Расчеты с использованием аккредитива приобретают особую актуальность при сделках с
                                    незнакомыми покупателю продавцами, о
                                    репутации которых ничего не известно.
                                </p>
                                <p class="calculations-text__item">
                                    Аккредитив представляет собой безналичную форму расчетов в виде условного
                                    обязательства Банка. Банк обязуется произвести
                                    платеж в пользу продавца по предъявлению последним документов, соответствующих
                                    условиям аккредитива.
                                </p>
                                <p class="calculations-text__item">
                                    Порядок расчета по аккредитиву, условия оплаты и извещения сторон, а также реквизиты
                                    всех участников сделки отражаются в
                                    аккредитиве.
                                </p>
                            </div>
                            <div class="calculations-lists__wrapper">
                                <div class="calculations-lists__wrap">
                                    <h3 class="calculations-lists__title">
                                        Преимущества аккредитивной формы расчетов
                                    </h3>
                                    <ul class="calculations-list">
                                        <li class="calculations-list__item">
                                            безналичная форма расчетов, позволяющая покупателю и продавцу определить
                                            условия расчетов по аккредитиву в соответствии
                                            со своими пожеланиями, т. е. составить свой перечень документов,
                                            подтверждающих выполнение обязательств продавцом.
                                        </li>
                                        <li class="calculations-list__item">
                                            существенное снижение рисков для обеих сторон по сделке.
                                        </li>
                                        <li class="calculations-list__item">
                                            соблюдение условий аккредитива контролируются третьими лицами-банками.
                                        </li>
                                        <li class="calculations-list__item">
                                            при расчетах с использованием аккредитивов банк переводит денежные средства
                                            в пользу продавца только по представлении
                                            документов, правильно оформленных и полностью отвечающих требованиям
                                            аккредитива (согласно законодательству, банки несут
                                            ответственность за соблюдение всех условий договора купли-продажи, указанных
                                            в условиях аккредитива).
                                        </li>
                                        <li class="calculations-list__item"
                                            data-readmore-identifier="doc-list-readmore">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna
                                            aliqua.
                                        </li>
                                        <li class="calculations-list__item"
                                            data-readmore-identifier="doc-list-readmore">
                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                            aliquip ex ea commodo consequat.
                                        </li>
                                    </ul>
                                    <div class="document-list__read-more read-more__wrapper">
                                        <div class="read-more readmore" id="doc-list-readmore">
                                            <span class="read-more__text-more">Смотреть все</span>
                                            <span class="read-more__text-less">Скрыть</span>
                                            <img src="../assets/img/svg/read-more-btn.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="calculations-lists__wrap">
                                    <h3 class="calculations-lists__title">
                                        Применительно к сделке купли-продажи недвижимости схема расчетов выглядит
                                        следующим образом
                                    </h3>
                                    <ul class="calculations-list__register">
                                        <li class="calculations-list__register-item">
                                            <div class="wrap__register-number">
                                                <p class="ubs__register-number">
                                                    1
                                                </p>
                                            </div>
                                            <div class="wrapper__register-item">
                                                <p class="ubs__register-text">
                                                    Покупатель и продавец заключают между собой договор о том, что
                                                    рассчитываться по сделке они будут посредством
                                                    аккредитива (необходимо предварительно согласовать с банком,
                                                    открывающим аккредитив, условия расчетов указанные в
                                                    договоре купли продажи).
                                                </p>
                                            </div>
                                        </li>
                                        <li class="calculations-list__register-item">
                                            <div class="wrap__register-number">
                                                <p class="ubs__register-number">
                                                    2
                                                </p>
                                            </div>
                                            <div class="wrapper__register-item">
                                                <p class="ubs__register-text">
                                                    Покупатель обращается в банк с заявлением на открытие аккредитива
                                                    (наличие текущего счета в банке, открывающим
                                                    аккредитив, обязательно).
                                                </p>
                                            </div>
                                        </li>
                                        <li class="calculations-list__register-item">
                                            <div class="wrap__register-number">
                                                <p class="ubs__register-number">
                                                    3
                                                </p>
                                            </div>
                                            <div class="wrapper__register-item">
                                                <p class="ubs__register-text">
                                                    Банк открывает аккредитив и информирует Продавца напрямую или через
                                                    его банк об условиях открытого в его пользу
                                                    аккредитива.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="calculations-list__register-item">
                                            <div class="wrap__register-number">
                                                <p class="ubs__register-number">
                                                    4
                                                </p>
                                            </div>
                                            <div class="wrapper__register-item">
                                                <p class="ubs__register-text">
                                                    При получении исполняющим банком документов, полностью
                                                    соответствующих условиям аккредитива, последний осуществляет
                                                    незамедлительно оплату и перечисляет денежные средства в пользу
                                                    Продавца по указанным в аккредитиве реквизитам.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="calculations-list__register-item">
                                            <div class="wrap__register-number">
                                                <p class="ubs__register-number">
                                                    5
                                                </p>
                                            </div>
                                            <div class="wrapper__register-item">
                                                <p class="ubs__register-text">
                                                    Расчеты по аккредитиву осуществляются в соответствии с Положением ЦБ
                                                    РФ 762-П «О ПРАВИЛАХ ОСУЩЕСТВЛЕНИЯ ПЕРЕВОДА
                                                    ДЕНЕЖНЫХ СРЕДСТВ» от 29.06.2021
                                                </p>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="calculations__atention">
                                    <img class="calculations__atention-icon" src="../assets/img/images/atention.png"
                                        alt="atention">
                                    <p>
                                        <b>Внимание:</b> схема расчета значительно упрощается, если текущие счета
                                        покупателя и продавца открыты в одном банке и расчеты
                                        по аккредитиву проводит один банк.
                                    </p>
                                </div>
                                <div class="calculations-lists__wrap">
                                    <h3 class="calculations-lists__title">
                                        Преимущество открытия документарных аккредитивов в Банке МФК:
                                    </h3>
                                    <ul class="calculations-list">
                                        <li class="calculations-list__item">
                                            Индивидуальный подход к каждому клиенту, ориентированность на его
                                            потребности, возможность учёта особенностей сделки и
                                            пожеланий бенефициара;
                                        </li>
                                        <li class="calculations-list__item">
                                            Финансирование сделок за счет собственных средств;
                                        </li>
                                        <li class="calculations-list__item">
                                            Помощь в оформлении документов по аккредитиву;
                                        </li>
                                        <li class="calculations-list__item">
                                            Рекомендации по минимизации рисков клиентов с целью защиты их интересов;
                                        </li>
                                        <li class="calculations-list__item">
                                            Консультации и разъяснения по оформлению платежных условий договора
                                            купли-продажи и особенностей внутрироссийского права
                                            при расчетах аккредитивами.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('inc/footer.html') %>
            </body>

            </html>