<%- include('inc/header.html') %>
    <%- include('inc/private-menu.html') %>
        <div id="info" data-current-id="consulting" data-main-menu-current-id="banking-head"></div>
        <!-- Main content-->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="/">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Private banking</a></div>
                    <div class="breadcrumbs__step"><span>Консультирование</span></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page">
                    <div class="page__content lifestyle-page">
                        <div class="consulting">
                            <div class="consulting-title">
                                <h1 class="">
                                    Консультирование
                                </h1>
                            </div>
                            <div class="consulting-wrap">
                                <div class="consulting-picture">
                                    <img src="../assets/img/images/consulting.jpg" alt="">
                                </div>
                                <div class="consulting-wrapper">
                                    <ul class="consulting-list">
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                Консультации по вопросам наследования, дарения, функционирования
                                                семейных фондов
                                            </p>
                                        </li>
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                Страхование выезжающих за рубеж: медицинское страхование, страхование
                                                медицинских расходов при занятии экстремальными
                                                видами спорта, страхование возможной утраты или повреждения багажа,
                                                задержки или отмены рейса.
                                            </p>
                                        </li>
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                Автострахование
                                            </p>
                                        </li>
                                    </ul>
                                    <ul class="consulting-list">
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                Разработка оптимальных схем владения собственностью и сопровождение
                                                сделок клиента по купле-продаже недвижимости в
                                                России и за рубежом
                                            </p>
                                        </li>
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                Консультирование по вопросам налогообложения имущества и доходов,
                                                налоговое планирование, подготовка и защита налоговых
                                                деклараций
                                            </p>
                                        </li>
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                Программы страхования жизни
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('inc/footer.html') %>
            </body>

            </html>