<%- include('inc/header.html') %>
    <%- include('inc/private-menu.html') %>
        <div id="info" data-current-id="credit-private" data-main-menu-current-id="banking-head"></div>
        <!-- Main content-->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="/">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Private banking</a></div>
                    <div class="breadcrumbs__step"><span>Кредиты</span></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page">
                    <div class="page__content lifestyle-page">
                        <div class="consulting">
                            <div class="consulting-title__credit-private text--700 text--XL text--blue text--uppercase">
                                <h1 class="">
                                    Кредиты
                                </h1>
                            </div>
                            <div class="consulting-wrap">
                                <div class="consulting-picture">
                                    <img src="../assets/img/images/credit-private.jpg" alt="">
                                </div>
                                <div class="consulting-wrapper">
                                    <ul class="consulting-list__credit-private">
                                        <h3
                                            class="consulting-list__title text--700 text--blue-cyan text--XL text--uppercase">
                                            Банк МФК предлагает VIP-клиентам различные виды кредитования на
                                            индивидуальных
                                            условиях:
                                        </h3>
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                кредиты предоставляются в основных валютах — рублях, долларах США и
                                                евро, как в форме разовой выдачи, так и в форме
                                                кредитной линии;
                                            </p>
                                        </li>
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                обеспечением по кредиту могут выступать: недвижимое имущество,
                                                находящееся в собственности клиента или приобретаемое на
                                                кредитные средства, ценные бумаги, в том числе векселя, поручительство
                                                третьих лиц, иное.
                                            </p>
                                        </li>
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                срок кредитования — до 5 лет;
                                            </p>
                                        </li>
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                процентная ставка устанавливается в индивидуальном порядке в зависимости
                                                от срока кредитования, финансового состояния
                                                заемщика и предлагаемого обеспечения;
                                            </p>
                                        </li>
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                денежные средства могут быть направлены клиентом на приобретение
                                                различных активов, в том числе объектов недвижимости,
                                                развитие бизнеса, реализацию собственных инвестиционных проектов,
                                                финансирование прочих нужд;
                                            </p>
                                        </li>
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                в качестве источника погашения банк анализирует как личные доходы, так и
                                                доходы от бизнеса клиента;
                                            </p>
                                        </li>
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                рассмотрение кредитных заявок осуществляется на индивидуальной основе,
                                                комиссия за рассмотрение заявки не взимается;
                                            </p>
                                        </li>
                                        <li class="consulting-list__item">
                                            <img src="../assets/img/images/circle.png" alt="" class="item-circle">
                                            <p class="item__text">
                                                в процессе анализа кредитной заявки банк оказывает помощь в
                                                структурировании и проведении сделок, осуществляет
                                                финансовое, юридическое, налоговое сопровождение, предоставляет в аренду
                                                банковские сейфы, в том числе с допуском к
                                                сейфу при соблюдении определенных условий.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('inc/footer.html') %>
            </body>

            </html>