<%- include('inc/header.html') %>
	<%- include('inc/corporate-menu.html') %>
		<div id="info" data-current-id="garanty" data-main-menu-current-id="corporative-head"></div>

		<!-- Main content-->

		<section class="container">
			<div>
				<div class="second__text-credits__list">
					<a class="second__text-credits" href="#">Главная /</a>
					<a class="second__text-credits" href="./accountopen.html">Корпоративным клиентам /</a>
					<a class="second__text-credits current-second__text-credits" href="./garanty.html">Аккредитивы и
						гарантии</a>
				</div>
			</div>
			<div class="garanty">
				<div class="garanty__outer-wrapper">
					<div class="garanty__card">
						<div class="garanty__title-wrapper">
							<div class="garanty__title">
								<span>Аккредитивы</span>
							</div>
							<div class="garanty__info">
								<div class="garanty__info-icon">
									<svg>
										<use xlink:href='../assets/img/svg/info.svg#img'></use>
									</svg>
								</div>
								<div class="garanty__info-modal">
									<div class="garanty__info-modal__text">
										<p>Банк оценивает кредитный риск по выдаваемым гарантиям в соответствии с
											процедурой, аналогичной классическому кредитованию, срок рассмотрения выдачи
											гарантий от 2 недель.</p>
										<p>Гарантии с предоставлением 100% денежного покрытия (обеспечительного платежа)
											выдаютсяв течение 3–5 дней с момента предоставления всех требуемых
											документов.</p>
									</div>

								</div>
							</div>
						</div>
						<div class="garanty__advantages">
							<div class="garanty__advantage">
								<span>Выставление аккредитивов по поручению клиентов Банка как по импортным, так и по
									внутрироссийским контрактам, в том числе, с предоставлением финансирования сроком до
									1 года;</span>
							</div>
							<div class="garanty__advantage">
								<span>Выставление аккредитивов по договорам купли-продажи недвижимости;</span>
							</div>
							<div class="garanty__advantage">
								<span>Авизование аккредитивов в ин.валюте и российских рублях в том числе с
									предоставлением финансирования сроком до 6 мес;</span>
							</div>
							<div class="garanty__advantage">
								<span>Консультирование клиентов по оформлению условий контрактов (импортных и
									экспортных) в части расчетов с применением документарных аккредитивов и гарантий, с
									предоставлением рекомендаций по минимизации рисков клиентов с целью защиты их
									интересов;</span>
							</div>
							<div class="garanty__advantage">
								<span>Консультирование по корректному оформлению документов по аккредитиву с их
									предварительной проверкой;</span>
							</div>
							<div class="garanty__advantage">
								<span>Осуществление инкассовых операций по импортным/экспортным контрактам</span>
							</div>
						</div>
						<div class="garanty__button-wrapper">
							<button class="garanty__button btn">
								Оформить аккредитив
							</button>
						</div>
					</div>
					<div class="garanty__card">
						<div class="garanty__title-wrapper">
							<div class="garanty__title">
								<span>Гарантии</span>
							</div>
							<div class="garanty__info">
								<div class="garanty__info-icon">
									<svg>
										<use xlink:href='../assets/img/svg/info.svg#img'></use>
									</svg>
								</div>
								<div class="garanty__info-modal">
									<div class="garanty__info-modal__text">
										<p>Банк оценивает кредитный риск по выдаваемым гарантиям в соответствии с
											процедурой, аналогичной классическому кредитованию, срок рассмотрения выдачи
											гарантий от 2 недель.</p>
										<p>Гарантии с предоставлением 100% денежного покрытия (обеспечительного платежа)
											выдаютсяв течение 3–5 дней с момента предоставления всех требуемых
											документов.</p>
									</div>

								</div>
							</div>
						</div>
						<div class="garanty__advantages">
							<div class="garanty__advantage">
								<span>Гарантии на возврат авансового платежа;</span>
							</div>
							<div class="garanty__advantage">
								<span>Гарантии конкурсной заявки (тендерные): 44-ФЗ и 223-ФЗ;</span>
							</div>
							<div class="garanty__advantage">
								<span>Гарантии исполнения договорных обязательств (коммерческие, по 44-ФЗ и 223-ФЗ по
									государственным контрактам);</span>
							</div>
							<div class="garanty__advantage">
								<span>ФТС (таможенного брокера, платежа);</span>
							</div>
							<div class="garanty__advantage">
								<span>Консультирование по корректному оформлению документов по аккредитиву с их
									предварительной проверкой;</span>
							</div>
						</div>
						<div class="garanty__button-wrapper">
							<button class="garanty__button btn">
								Оформить гарантию
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="dropdown__header">
			<button class="dropbtn">
				<p class="dropbtn-text">Аккредитивы и гарантии</p>
				<img class="dropdown__picture" src="../assets/img/icons/arrow1.png" alt="arrow" class="operations__picture" width="20px"
					height="20px">
			</button>
			<div id="myDropdown" class="dropdown-content">
				<ul class="operations__list__mobile">
					<li class="operations__list-item__mobile">
						<a class="operations__link__mobile" href="./accountopen.html">
							Банковское обслуживание
						</a>
					</li>
					<li class="operations__list-item__mobile">
						<a class="operations__link__mobile" href="./deposits.html">
							Депозиты
						</a>
					</li>
					<li class="operations__list-item__mobile">
						<a class="operations__link__mobile" href="./credits.html">
							Кредитование
						</a>
					</li>
					<li class="operations__list-item__mobile">
						<a class="operations__link__mobile" href="./garanty.html">
		
						</a>
					</li>
				</ul>
			</div>
		</div> -->
			<div class="garanty__doc-type">
				<div class="garanty__documentation__title">
					Документы
				</div>
				<div class="garanty__documentation__kind">
					<img src="../assets/img/images/pdf.png" alt="pdf" width="24px" height="30px">
					<div class="documentation__content">
						<H5 class="documentation__description">
							Перечень документов для экспресс-анализа
						</H5>
						<p class="documentation__caracter">
							PDF, 279 КБ / 04 июня 2018
						</p>
					</div>
				</div>
			</div>
		</section>

		<%- include('inc/footer.html') %>

			</body>

			</html>