<%- include('inc/header.html') %>
    <%- include('inc/private-menu.html') %>
        <div id="info" data-current-id="investments" data-main-menu-current-id="banking-head"></div>
        <!-- Main content-->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="/">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Private banking</a></div>
                    <div class="breadcrumbs__step"><a href="investments.html">Инвестиции</a></div>
                    <div class="breadcrumbs__step"><span>Операции с драгоценными металлами </span></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page">
                    <div class="page__sidebar sidebar">
                        <div class="sidebar__overlay"></div>
                        <div class="sidebar__items">
                            <div class="sidebar__item sidebar__item--selected">
                                <div class="sidebar__item-text">
                                    <a href="rko.html">Операции с драгоценными металлами </a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="brokers.html">Брокерское обслуживание</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Структурированные продукты</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Участие в размещении облигаций</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Депозитарное обслуживание</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page__content basic-page">
                        <div class="investments__wrapper">
                            <div class="investments-title">
                                <h1>Операции с драгоценными металлами</h1>
                            </div>
                            <div class="investments-cards__wrapper">
                                <div class="investments-card__picture">
                                    <img src="../assets/img/images/investments1.jpg" alt="">
                                </div>
                                <div class="investments-card__about">
                                    <p class="investments-card__text">
                                        <b>Драгоценные металлы</b> — это не только один из инструментов, традиционно
                                        используемых инвесторами для страхования
                                        инфляционных рисков, но и хорошая альтернатива валютным вложениям.
                                    </p>
                                    <p class="investments-card__text">
                                        Инвестируя в драгоценные металлы, клиенты банка МФК могут снизить риски потерь,
                                        связанных с негативными изменениями на
                                        финансовых рынках, и разнообразить свою корзину сбережений с гарантией высокого
                                        уровня надежности сохранения средств и с
                                        перспективами их преумножения за счет роста стоимости драгоценных металлов.
                                    </p>
                                    <p class="investments-card__text">
                                        Банк МФК предлагает приобрести золото, серебро, платину и палладий с зачислением
                                        на обезличенный металлический счет,
                                        который предназначен для совершения операций с драгоценными металлами, без
                                        указания индивидуальных признаков слитков.
                                        Драгоценные металлы, учитываемые на обезличенных металлических счетах, имеют
                                        только количественную характеристику массы
                                        металла и стоимостную оценку.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('inc/footer.html') %>
            </body>

            </html>