<%- include('inc/header.html') %>
    <%- include('inc/client-menu.html') %>
        <div id="info" data-current-id="contributions" data-main-menu-current-id="private-client-head"></div>

        <!-- Main content-->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="contributions.html">Частным клиентам</a></div>
                    <div class="breadcrumbs__step"><a href="contributions.html">Вклады и счета</a></div>
                    <div class="breadcrumbs__step"><a href="contributions.html">Вклады</a></div>
                    <div class="breadcrumbs__step">Вклад Оптимальный</div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page page--with-sidebar">
                    <div class="page__sidebar sidebar">
                        <div class="sidebar__overlay"></div>
                        <div class="sidebar__items">
                            <div class="sidebar__item sidebar__item--selected">
                                <div class="sidebar__item-text">
                                    <a href="contributions.html">Вклады</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="settlement-service.html">Расчетное
                                        обслуживание</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="savingsaccount.html">Накопительный счет</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                        </div>
                    </div>
                    <!--Main Content -->
                    <div class="investment-card__wrapper">
                        <div class="investment-card__banner">
                            <div class="banner__return">

                                <div class="banner__about">
                                    <div class="banner__subtitle">
                                        <div class="banner__arrow">
                                            <svg width="14" height="24" viewBox="0 0 14 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13 23L2 12L13 1" stroke="white" stroke-width="2"
                                                    stroke-linecap="round" />
                                            </svg>
                                        </div>
                                        <a href="./contributions.html">Все вклады</a>
                                    </div>
                                    <div class="banner__title">
                                        <h2>Вклад Оптимальный</h2>
                                    </div>
                                    <div class="banner__button__wrap">
                                        <button class="banner__button">Получить консультацию</button>
                                    </div>
                                </div>
                            </div>
                            <div class="banner__picture__wrap ibg ibg--cover">
                                <img class="banner__picture" src="../assets/img/images/optimal.jpg" alt="">
                            </div>
                        </div>
                        <div class="investment-card__details">
                            <div class="details-data">
                                <div class="data-item">
                                    <div class="data-subtitle">
                                        <p>Срок вклада</p>
                                    </div>
                                    <div class="data-title__wrap">
                                        <div class="data-title">
                                            <span> 6 месяцев</span>
                                        </div>
                                        <div class="data-title">
                                            <span>12 месяцев</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-item">
                                    <div class="data-subtitle">
                                        <p>Ставка</p>
                                    </div>
                                    <div class="data-title__wrap">
                                        <div class="data-title">
                                            <span>5.6 %</span>
                                        </div>
                                        <div class="data-title">
                                            <span>8.9 %</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-item">
                                    <div class="data-subtitle">
                                        <p>Минимальный взнос</p>
                                    </div>
                                    <div class="data-title__wrap">
                                        <div class="data-title">
                                            <span>100 000 руб.</span>
                                        </div>
                                        <div class="data-title">
                                            <span>100 000 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-item">
                                    <div class="data-subtitle">
                                        <p>Максимальный взнос</p>
                                    </div>
                                    <div class="data-title__wrap">
                                        <div class="data-title">
                                            <span>2 000 000 руб.</span>
                                        </div>
                                        <div class="data-title">
                                            <span>2 000 000 руб.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="details-check">
                                <div class="check-item">
                                    <div class="check-title__wrap">
                                        <p class="check-title">Частичное снятие</p>
                                    </div>
                                    <div class="check-img"><img src="../assets/img/images/close.png" alt=""></div>
                                </div>
                                <div class="check-item">
                                    <div class="check-title__wrap">
                                        <p class="check-title">Возможность пополнения</p>
                                    </div>
                                    <div class="check-img"><img src="../assets/img/images/close.png" alt=""></div>
                                </div>
                                <div class="check-item">
                                    <div class="check-title__wrap">
                                        <p class="check-title">Ежемесячная выплата</p>
                                    </div>
                                    <div class="check-img"><img src="../assets/img/images/Accept.png" alt=""></div>
                                </div>
                                <div class="check-item">
                                    <div class="check-title__wrap">
                                        <p class="check-title">Капитализация</p>
                                    </div>
                                    <div class="check-img"><img src="../assets/img/images/close.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="investment-card__description">
                            <div class="description-wrap">
                                <div class="description-list">
                                    <ul class="list-text--title list-text">Валюта вклада Оптимальный:
                                        <li class="list-item list-text">рубли</li>
                                    </ul>
                                </div>
                                <div class="description-list">
                                    <ul class="list-text--title list-text">Срок вклада Оптимальный:
                                        <li class="list-item list-text">6 месяцев, 12 месяцев</li>
                                    </ul>
                                </div>
                                <div class="description-list">
                                    <ul class="list-text--title list-text">Режим работы вклада Оптимальный:
                                        <li class="list-item list-text">
                                            минимальная сумма вклада 100 000,00 рублей;
                                        </li>
                                        <li class="list-item list-text">
                                            максимальная сумма вклада - 2 000 000,00 рублей;
                                        </li>
                                        <li class="list-item list-text">
                                            дополнительные взносы во вклад допускаются первые 3
                                            рабочих дня с даты заключения договора/с даты пролонгации вклада,
                                            дополнительные взносы во вклад минимальной суммой не ограничиваются и
                                            присоединяются к сумме вклада;
                                        </li>
                                        <li class="list-item list-text">
                                            выдача части суммы вклада в течение срока вклада не
                                            предусмотрена;
                                        </li>
                                        <li class="list-item list-text">
                                            при досрочном востребовании суммы вклада/части суммы
                                            вклада либо ее списании по иным основаниям проценты на сумму вклада
                                            начисляются и выплачиваются по ставке, выплачиваемой Банком по вкладу до
                                            востребования
                                        </li>
                                        <li class="list-item list-text">
                                            пролонгация вклада предусмотрена;
                                        </li>
                                        <li class="list-item list-text">
                                            условием открытия вклада является отсутствие действующего
                                            вклада Оптимальный.
                                        </li>
                                    </ul>
                                </div>
                                <div class="description-list">
                                    <ul class="list-text--title list-text">Проценты по вкладу Оптимальный:
                                        <li class="list-item list-text">
                                            процентная ставка устанавливается на дату открытия вклада,
                                            является фиксированной и не подлежит изменению в течение
                                            всего срока
                                            вклада;
                                        </li>
                                        <li class="list-item list-text">
                                            проценты выплачиваются ежемесячно и в конце срока вклада
                                            путем зачисления на текущий счет Клиента, открытый в Банке в
                                            валюте
                                            вклада
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('inc/footer.html') %>
            </body>

            </html>