<%- include('inc/header.html') %>
	<%- include('inc/corporate-menu.html') %>
		<!-- <div id="info" data-current-id="bank" data-main-menu-current-id="corporative-head"></div> -->

		<!-- Main content-->

		<section class="container">
			<div class="second__header-operations">
				<div class="second__text-credits__list">
					<a class="second__text-credits" href="#">Главная /</a>
					<a class="second__text-credits" href="./accountopen.html">Корпоративным клиентам /</a>
					<a class="second__text-credits" href="./accountopen.html">Банковское обслуживание /</a>
					<a class="second__text-credits current-second__text-credits" href="./accountopen.html">Открытие
						расчетного счета</a>
				</div>
			</div>
			<div class="page">
				<div class="page__content basic-page">
					<form class="text--blue search">
						<div class="search__text">Поиск:</div>
						<div class="search__row">
							<input class="input" type="text" placeholder="Поиск" name="q">
							<button class="search__search-icon" type="submit" name="s">
								<img src="../assets/img/svg/search-dark.svg" alt="search">
							</button>	
						</div>
						
					</form>
					<div class="default-card news-card fx xsm-fx-d--c m--b-45 fx-g--15 fx-ai--c">
						<div class="news-card__image ibg ibg--cover fx-el--33 fx-el--s0 bdrs--5 ratio-w" data-ratio-multiplier="1">
							<img src="../assets/img/images/comfortable.jpg" alt="">
						</div>
						<div class="news-card__text">
							<div class="fx fx-d--c fx-jc--c m--b-35">
								<span class="text--400 text--M text--cyan">Subtitle</span>
								<span class="text--700 text--XXL text--blue">Базовый вектор развития связывает нас с нашим прошлым</span>
							</div>
							<div class="text--400 text--M text--blue m--b-35">
								<p>Идейные соображения высшего порядка, а также социально-экономическое развитие</p>
							</div>
							<div class="news-card__button">
								<a href="news-single.html" class="btn">Читать больше</a>
							</div>
						</div>
					</div>
					<div class="default-card news-card fx fx-d--r-rev xsm-fx-d--c m--b-45 fx-g--15 fx-ai--c">
						<div class="news-card__image ibg ibg--cover fx-el--33 fx-el--s0 bdrs--5 ratio-w" data-ratio-multiplier="1">
							<img src="../assets/img/images/comfortable.jpg" alt="">
						</div>
						<div class="news-card__text">
							<div class="fx fx-d--c fx-jc--c m--b-35">
								<span class="text--400 text--M text--cyan">Subtitle</span>
								<span class="text--700 text--XXL text--blue">Базовый вектор развития связывает нас с нашим прошлым</span>
							</div>
							<div class="text--400 text--M text--blue m--b-35">
								<p>Идейные соображения высшего порядка, а также социально-экономическое развитие</p>
							</div>
							<div class="news-card__button">
								<a href="news-single.html" class="btn">Читать больше</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		<%- include('inc/footer.html') %>
			</body>

			</html>