<%- include('inc/header.html') %>
	<%- include('inc/corporate-menu.html') %>
		<!-- <div id="info" data-current-id="bank" data-main-menu-current-id="corporative-head"></div> -->

		<!-- Main content-->

		<section class="container">
			<div class="second__header-operations">
				<div class="second__text-credits__list">
					<a class="second__text-credits" href="#">Главная /</a>
					<a class="second__text-credits" href="./accountopen.html">Корпоративным клиентам /</a>
					<a class="second__text-credits" href="./accountopen.html">Банковское обслуживание /</a>
					<a class="second__text-credits current-second__text-credits" href="./accountopen.html">Открытие
						расчетного счета</a>
				</div>
			</div>
			<div class="page container">
				<div class="page__content basic-page">
					<div class="fx fx-g--15 m--b-45 md-fx-d--c">
						<div class="fx-el--33 fx-el--s0 news__image">
							<img src="../assets/img/images/comfortable.jpg" alt="" class="bdrs--5">
						</div>
						
						<div class=" def-text-wrapper">
							
							<h2>Базовый вектор развития связывает нас с нашим прошлым</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi quos adipisci alias, non at veritatis, suscipit velit ipsam dolor illum tempora similique sapiente, perspiciatis voluptate, commodi maxime est dicta harum.</p>
							<ul>
								<li>Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Perferendis, nostrum pariatur, mollitia amet veritatis excepturi fugiat corrupti beatae consequuntur quae dolore sit, deserunt laboriosam temporibus. Dolore, dignissimos laudantium adipisci excepturi.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nemo, hic, cupiditate recusandae sed facere nostrum quo, dicta voluptas quibusdam natus eaque ex! Dolore ab, alias, quas rerum esse porro.</li>
							</ul>
						</div>	
					</div>
					
				</div>
			</div>
		</section>
		<%- include('inc/footer.html') %>
			</body>

			</html>