<%- include('inc/header.html') %>
	<%- include('inc/client-menu.html') %>
		<div id="info" data-current-id="online-bank" data-main-menu-current-id="private-client-head"></div>

		<!-- Main content-->
		<section>
			<div class="container">
				<div class="breadcrumbs">
					<div class="breadcrumbs__step"><a href="">Главная</a></div>
					<div class="breadcrumbs__step"><a href="contributions.html"></a>Частным клиентам</div>
					<div class="breadcrumbs__step"><span>Онлайн-банк</span></div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="online-bank">
					<h3 class="online-bank__title">
						Онлайн-банк 
					</h3>
					<div class="online-bank__picture">
						<img src="../assets/img/images/online-bank.jpg" alt="foto">
					</div>
					<div class="online-bank__about">
						<p class="online-bank__about-text">
							Система «Интернет-банк» — это удобная современная система с обновленным интерфейсом, которая
							предоставляет
							корпоративным
							клиентам возможность дистанционного банковского обслуживания в режиме реального времени с
							любого компьютера,
							который
							соответствует техническим требованиям системы и подключен к
							информационно-телекоммуникационной сети Интернет.
						</p>
					</div>
					<div class="online-bank__internet-bank">
						<div class="internet-bank__title">
							Основные преимущества системы «Интернет-банк»:
						</div>
						<div class="internet-bank__wrapper">
							<ul class="internet-bank__list">
								<li class="internet-bank__item">
									<img src="../assets/img/images/circle.png" alt="circle" width="15px" height="15px">
									<p class="internet-bank__text">
										понятная навигация в системе с всплывающими подсказками при оформлении
										электронных
										документов
									</p>
								</li>
								<li class="internet-bank__item">
									<img src="../assets/img/images/circle.png" alt="circle" width="15px" height="15px">
									<p class="internet-bank__text">
										полное информирование о состоянии счета с возможностью формирования выписки за
										заданный период времени
									</p>
								</li>
								<li class="internet-bank__item">
									<img src="../assets/img/images/circle.png" alt="circle" width="15px" height="15px">
									<p class="internet-bank__text">
										удобное оформление поручений на покупку/продажу иностранной валюты
									</p>
								</li>
								<li class="internet-bank__item">
									<img src="../assets/img/images/circle.png" alt="circle" width="15px" height="15px">
									<p class="internet-bank__text">
										использование шаблонов для часто повторяющихся платежей
									</p>
								</li>
								<li class="internet-bank__item">
									<img src="../assets/img/images/circle.png" alt="circle" width="15px" height="15px">
									<p class="internet-bank__text">
										размещение свободных денежных средств в депозит
									</p>
								</li>
								<li class="internet-bank__item">
									<img src="../assets/img/images/circle.png" alt="circle" width="15px" height="15px">
									<p class="internet-bank__text">
										просмотр информации по кредитам и депозитам
									</p>
								</li>
								<li class="internet-bank__item">
									<img src="../assets/img/images/circle.png" alt="circle" width="15px" height="15px">
									<p class="internet-bank__text">
										доступность интерфейса на английском языке
									</p>
								</li>
							</ul>
							<img class="internet-bank__picture" src="../assets/img/images/online-bank-laptop.png"
								alt="laptop">
						</div>
						<div class="internet-bank__title">
							Для доступа в систему «Интернет-банк» используются следующие средства:
						</div>
						<div class="internet-bank__wrap">
							<div class="internet-bank__access">
								<img class="internet-bank__access-picture" src="../assets/img/icons/password.png"
									alt="password">
								<p class="internet-bank__text">
									Логин и Пароль. Безопасность данных и операций для этого средства доступа
									обеспечивается вводом разовых секретных
									паролей из SMS-сообщений
								</p>
							</div>
							<div class="internet-bank__access">
								<img class="internet-bank__access-picture" src="../assets/img/icons/certificate-bank.png"
									alt="certificate">
								<p class="internet-bank__text">
									Сертификат ключа электронной подписи на смарт- ключе
								</p>
							</div>
						</div>
						<div class="internet-bank__title">
							Подключение к системе «Интернет-банк»
						</div>
						<div class="internet-bank__connect">
							<p class="internet-bank__text connect-text">
								Для обслуживания с использованием системы «Интернет-банк» корпоративному клиенту
								необходимо заключить с <strong>Банком договор
									комплексного банковского обслуживания</strong>, в рамках которого с клиентом
								заключается договор
								дистанционного банковского
								обслуживания.
							</p>
							<p class="internet-bank__text connect-text">
								Заключение договора дистанционного банковского обслуживания осуществляется путем
								присоединения клиента к правилам
								дистанционного банковского обслуживания на основании заявления на подключение к системе
								«Интернет-банк», надлежащим
								образом заполненного и подписанного Клиентом.
							</p>
						</div>
						<div class="internet-bank__title m--t-35">
							Приложения:
						</div>
						<div class="internet-bank__wrap">
							<div class="internet-bank__access">
								<a href="#" class="internet-bank__access-picture">
									<img src="../assets/img/images/qrcode.png" alt="qr">    
								</a>
								<a href="" class="full-img--w fx-el--60 md-fx-el--30 sm-fx-el--50 p--15 xxsm-p--0">
									<img src="../assets/img/images/appstore.png" alt="">
								</a>
							</div>
							<div class="internet-bank__access internet-bank__access--reverse">
								<a href="#" class="internet-bank__access-picture">
									<img src="../assets/img/images/qrcode.png" alt="qr">    
								</a>
								<a href="" class="full-img--w fx-el--60 md-fx-el--30 sm-fx-el--50 p--15 xxsm-p--0">
									<img src="../assets/img/images/google_play.png" alt="">
								</a>
							</div>
						</div>
					</div>
					<div class="document-list">
						<div class="document-list__card">
							<div class="document-list__content-wrapper">
								<div class="document-list__title-block">
									<span>
										Документы
									</span>
								</div>
								<div class="document-list__list-block">
									<div class="document-list__document">
										<div class="document-list__document__content-wrapper">
											<div class="document-list__document__icon">
												<img src="../assets/img/images/pdf.png" alt="pdf">
											</div>
											<div class="document-list__document__text-wrapper">
												<div class="document-list__document__title">
													<span>Тарифы на совершение операций через интернет-банк и мобильное
														приложение в системе «МФК-Онлайн»</span>
												</div>
												<div class="document-list__document__description">
													<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
												</div>
											</div>
										</div>
									</div>
									<div class="document-list__document">
										<div class="document-list__document__content-wrapper">
											<div class="document-list__document__icon">
												<img src="../assets/img/images/pdf.png" alt="pdf">
											</div>
											<div class="document-list__document__text-wrapper">
												<div class="document-list__document__title">
													<span>Правила предоставления дистанционного банковского
														обслуживания</span>
												</div>
												<div class="document-list__document__description">
													<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
												</div>
											</div>
										</div>
									</div>
									<div class="document-list__document">
										<div class="document-list__document__content-wrapper">
											<div class="document-list__document__icon">
												<img src="../assets/img/images/word.png" alt="pdf">
											</div>
											<div class="document-list__document__text-wrapper">
												<div class="document-list__document__title">
													<span>Правила предоставления дистанционного банковского обслуживания
														с использованием системы интернет-банк «МФК-Онлайн»</span>
												</div>
												<div class="document-list__document__description">
													<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
												</div>
											</div>
										</div>
									</div>
									<div class="document-list__document">
										<div class="document-list__document__content-wrapper">
											<div class="document-list__document__icon">
												<img src="../assets/img/images/word.png" alt="pdf">
											</div>
											<div class="document-list__document__text-wrapper">
												<div class="document-list__document__title">
													<span>Заявление на подключение к системе Интернет-банк</span>
												</div>
												<div class="document-list__document__description">
													<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
												</div>
											</div>
										</div>
									</div>
									<div class="document-list__document" data-readmore-identifier="doc-list-readmore">
										<div class="document-list__document__content-wrapper">
											<div class="document-list__document__icon">
												<img src="../assets/img/images/word.png" alt="pdf">
											</div>
											<div class="document-list__document__text-wrapper">
												<div class="document-list__document__title">
													<span>Общие условия комплексного банковского обслуживания</span>
												</div>
												<div class="document-list__document__description">
													<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
												</div>
											</div>
										</div>
									</div>
									<div class="document-list__document" data-readmore-identifier="doc-list-readmore">
										<div class="document-list__document__content-wrapper">
											<div class="document-list__document__icon">
												<img src="../assets/img/images/pdf.png" alt="pdf">
											</div>
											<div class="document-list__document__text-wrapper">
												<div class="document-list__document__title">
													<span>Перечень страховых организаций, удовлетворяющих требованиям
														Банка</span>
												</div>
												<div class="document-list__document__description">
													<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
												</div>
											</div>
										</div>
									</div>
									<!-- data-readmore-identifier="doc-list-readmore" -->

								</div>
							</div>
							<div class="document-list__read-more read-more__wrapper">
								<div class="read-more readmore" id="doc-list-readmore">
									<span class="read-more__text-more">Смотреть все</span>
									<span class="read-more__text-less">Скрыть</span>
									<img src="../assets/img/svg/read-more-btn.svg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<%- include('inc/footer.html') %>