<%- include('inc/header.html') %>
    <%- include('inc/private-menu.html') %>
        <div id="info" data-current-id="rko" data-main-menu-current-id="banking-head"></div>
        <!-- Main content-->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="/">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Private banking</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Расчеты</a></div>
                    <div class="breadcrumbs__step"><span>Премиальные пластиковые карты</span></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page">
                    <div class="page__sidebar sidebar">
                        <div class="sidebar__overlay"></div>
                        <div class="sidebar__items">
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="rko.html">РКО</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="safeboxes-vip.html">Ячейки</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item sidebar__item--selected">
                                <div class="sidebar__item-text">
                                    <a href="premiumcards.html">Премиальные<br> пластиковые карты</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="calculations.html">Расчеты при покупке<br> недвижимости с<br>
                                        использованием
                                        аккредитива</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card-list__cards">
                        <div class="basic-page__title  basic-page__title--hide-on-md">
                            <h1>Премиальные пластиковые карты</h1>
                        </div>
                        <div class="card-list__card filtered premium-card">
                            <div class="card-list__card__content-wrapper premium-card__content">
                                <div class="premium-card__wrap">
                                    <div class="card-list__card__preview premium-card__preview">
                                        <img src="../assets/img/images/gold-mastercard.png" alt="">
                                    </div>
                                    <div class="card-list__info-wrap premium-card__info-wrap">
                                        <div class="card-list__card__title-wrapper">
                                            <div class="card-list__card__subtitle">
                                                <span>Премиальная</span>
                                            </div>
                                            <div class="card-list__card__title">
                                                <span>MasterCard Gold</span>
                                            </div>
                                        </div>
                                        <div class="card-list__info-block">
                                            <div class="card-list__info-block__description">
                                                <span>Стоимость обслуживания</span>
                                            </div>
                                            <div class="card-list__info-block__info">
                                                <span>600 руб</span>
                                            </div>
                                        </div>
                                        <div class="card-list__info-block">
                                            <div class="card-list__info-block__description">
                                                <span>Премиальные сервисы платежной системы</span>
                                            </div>
                                            <div class="card-list__info-block__info">
                                                <span>Привилегии</span>
                                            </div>
                                        </div>
                                        <div class="card-list__info-block">
                                            <div class="card-list__info-block__description">
                                                <span>Срок действия</span>
                                            </div>
                                            <div class="card-list__info-block__info">
                                                <span>3 года</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-list__card__info-secondary premium-card__secondary">
                                    <div class="card-list__card__advantages-wrapper premium-card__wrapper">
                                        <div class="card-list__advantage premium-card__secondary-item">
                                            <div class="card-list__advantage__description">
                                                <span>Просмотр выписки по карте</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                        <div class="card-list__advantage premium-card__secondary-item">
                                            <div class="card-list__advantage__description">
                                                <span>Безопасность интернет платежей</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                        <div class="card-list__advantage premium-card__secondary-item">
                                            <div class="card-list__advantage__description">
                                                <span>SMS-информирование</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                        <div class="card-list__advantage premium-card__secondary-item">
                                            <div class="card-list__advantage__description">
                                                <span>Интернет-банк</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-list__card__button-wrapper premium-card__button-wrap">
                                        <button class="card-list__card__button btn">Получить консультацию</button>
                                        <a class="card-list__card__button btn btn--transparent"
                                            href="">Подробнее о вкладе</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-list__card filtered premium-card">
                            <div class="card-list__card__content-wrapper premium-card__content">
                                <div class="premium-card__wrap">
                                    <div class="card-list__card__preview premium-card__preview">
                                        <img src="../assets/img/images/gold-mastercard.png" alt="">
                                    </div>
                                    <div class="card-list__info-wrap premium-card__info-wrap">
                                        <div class="card-list__card__title-wrapper">
                                            <div class="card-list__card__subtitle">
                                                <span>Премиальная</span>
                                            </div>
                                            <div class="card-list__card__title">
                                                <span>VISA Gold</span>
                                            </div>
                                        </div>
                                        <div class="card-list__info-block">
                                            <div class="card-list__info-block__description">
                                                <span>Стоимость обслуживания</span>
                                            </div>
                                            <div class="card-list__info-block__info">
                                                <span>600 руб</span>
                                            </div>
                                        </div>
                                        <div class="card-list__info-block">
                                            <div class="card-list__info-block__description">
                                                <span>Премиальные сервисы платежной системы</span>
                                            </div>
                                            <div class="card-list__info-block__info">
                                                <span>Привилегии</span>
                                            </div>
                                        </div>
                                        <div class="card-list__info-block">
                                            <div class="card-list__info-block__description">
                                                <span>Срок действия</span>
                                            </div>
                                            <div class="card-list__info-block__info">
                                                <span>3 года</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-list__card__info-secondary premium-card__secondary">
                                    <div class="card-list__card__advantages-wrapper premium-card__wrapper">
                                        <div class="card-list__advantage premium-card__secondary-item">
                                            <div class="card-list__advantage__description">
                                                <span>Просмотр выписки по карте</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                        <div class="card-list__advantage premium-card__secondary-item">
                                            <div class="card-list__advantage__description">
                                                <span>Безопасность интернет платежей</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                        <div class="card-list__advantage premium-card__secondary-item">
                                            <div class="card-list__advantage__description">
                                                <span>SMS-информирование</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                        <div class="card-list__advantage premium-card__secondary-item">
                                            <div class="card-list__advantage__description">
                                                <span>Интернет-банк</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-list__card__button-wrapper premium-card__button-wrap">
                                        <button class="card-list__card__button btn">Получить консультацию</button>
                                        <a class="card-list__card__button btn btn--transparent"
                                            href="">Подробнее о вкладе</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card-list__card filtered" data-filtered-type="cumulative" data-readmore-identifier="card-list-readmore">
                            <div class="card-list__card__content-wrapper">
                                <div class="card-list__card__preview">
                                    <img src="../assets/img/images/gold-mastercard.png" alt="">
                                </div>
                                <div class="card-list__card__title-wrapper">
                                    <div class="card-list__card__subtitle">
                                        <span>Премиальная</span>
                                    </div>
                                    <div class="card-list__card__title">
                                        <span>MasterCard Gold</span>
                                    </div>
                                </div>
                                <div class="card-list__card__info-primary">
                                    <div class="card-list__info-block">
                                        <div class="card-list__info-block__description">
                                            <span>Стоимость обслуживания</span>
                                        </div>
                                        <div class="card-list__info-block__info">
                                            <span>600 руб</span>
                                        </div>
                                    </div>
                                    <div class="card-list__advantage">
                                        <div class="card-list__advantage__description">
                                            <span>SMS-информирование</span>
                                        </div>
                                        <div class="card-list__advantage__icon">
                                            <img src="../assets/img/images/Accept.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-list__card__info-secondary">
                                    <div class="card-list__card__info-wrapper">
                                        <div class="card-list__info-block">
                                            <div class="card-list__info-block__description">
                                                <span>Срок действия</span>
                                            </div>
                                            <div class="card-list__info-block__info">
                                                <span>3 года</span>
                                            </div>
                                        </div>
                                        <div class="card-list__info-block">
                                            <div class="card-list__info-block__description">
                                                <span>Премиальные сервисы платежной системы</span>
                                            </div>
                                            <div class="card-list__info-block__info">
                                                <span>Привилегии</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-list__card__advantages-wrapper">
                                        <div class="card-list__advantage">
                                            <div class="card-list__advantage__description">
                                                <span>Безопасность интернет платежей</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                        <div class="card-list__advantage">
                                            <div class="card-list__advantage__description">
                                                <span>Просмотр выписки по карте</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                        <div class="card-list__advantage">
                                            <div class="card-list__advantage__description">
                                                <span>Интернет-банк</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-list__card__button-wrapper">
                                    <button class="card-list__card__button btn">Получить консультацию</button>
                                    <a class="card-list__card__button btn btn--transparent" href="">Подробнее о вкладе</a> 
                                </div>
                            </div>
                        </div>
                        <div class="card-list__card filtered" data-filtered-type="pension" data-readmore-identifier="card-list-readmore">
                            <div class="card-list__card__content-wrapper">
                                <div class="card-list__card__preview">
                                    <img src="../assets/img/images/gold-mastercard.png" alt="">
                                </div>
                                <div class="card-list__card__title-wrapper">
                                    <div class="card-list__card__subtitle">
                                        <span>Премиальная</span>
                                    </div>
                                    <div class="card-list__card__title">
                                        <span>MasterCard Gold</span>
                                    </div>
                                </div>
                                <div class="card-list__card__info-primary">
                                    <div class="card-list__info-block">
                                        <div class="card-list__info-block__description">
                                            <span>Стоимость обслуживания</span>
                                        </div>
                                        <div class="card-list__info-block__info">
                                            <span>600 руб</span>
                                        </div>
                                    </div>
                                    <div class="card-list__advantage">
                                        <div class="card-list__advantage__description">
                                            <span>SMS-информирование</span>
                                        </div>
                                        <div class="card-list__advantage__icon">
                                            <img src="../assets/img/images/Accept.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-list__card__info-secondary">
                                    <div class="card-list__card__info-wrapper">
                                        <div class="card-list__info-block">
                                            <div class="card-list__info-block__description">
                                                <span>Срок действия</span>
                                            </div>
                                            <div class="card-list__info-block__info">
                                                <span>3 года</span>
                                            </div>
                                        </div>
                                        <div class="card-list__info-block">
                                            <div class="card-list__info-block__description">
                                                <span>Премиальные сервисы платежной системы</span>
                                            </div>
                                            <div class="card-list__info-block__info">
                                                <span>Привилегии</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-list__card__advantages-wrapper">
                                        <div class="card-list__advantage">
                                            <div class="card-list__advantage__description">
                                                <span>Безопасность интернет платежей</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                        <div class="card-list__advantage">
                                            <div class="card-list__advantage__description">
                                                <span>Просмотр выписки по карте</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                        <div class="card-list__advantage">
                                            <div class="card-list__advantage__description">
                                                <span>Интернет-банк</span>
                                            </div>
                                            <div class="card-list__advantage__icon">
                                                <img src="../assets/img/images/Accept.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-list__card__button-wrapper">
                                    <button class="card-list__card__button btn">Получить консультацию</button>
                                    <a class="card-list__card__button btn btn--transparent" href="">Подробнее о вкладе</a> 
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="card-list__read-more read-more__wrapper">
                            <div class="read-more readmore" id="card-list-readmore">
                                <span class="read-more__text-more">Смотреть все</span>
                                <span class="read-more__text-less">Скрыть</span>
                                <img src="../assets/img/svg/read-more-btn.svg" alt="">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <%- include('inc/footer.html') %>
            </body>

            </html>