    <%- include('inc/header.html') %>
    <%- include('inc/private-menu.html') %>
        <div id="info" data-current-id="rko" data-main-menu-current-id="banking-head"></div>
        <!-- Main content-->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="/">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Private banking</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Расчеты</a></div>
                    <div class="breadcrumbs__step"><span>РКО</span></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page">
                    <div class="page__sidebar sidebar">
                        <div class="sidebar__overlay"></div>
                        <div class="sidebar__items">
                            <div class="sidebar__item sidebar__item--selected">
                                <div class="sidebar__item-text">
                                    <a href="rko.html">РКО</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Ячейки</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Премиальный пластиковые карты</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Расчеты при покупке недвижимости<br> с использованием
                                        аккредитива</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page__content basic-page">
                        <div class="basic-page__wrap">
                            <div class="basic-page__body rko">
                                <div class="rko__title">
                                    <h3>Расчетно-кассовое обслуживание в банке МФК включает в себя классические
                                        банковские услуги</h3>
                                </div>
                                <div class="rko__list">
                                    <ul>
                                        <li class="rko__item">
                                            <p>открытие и ведение банковских счетов в рублях и иностранной валюте;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>осуществление банковских переводов по оптимальным маршрутам в рублях и
                                                иностранной валюте;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>оплата регулярных расходов по генеральным поручениям в автоматическом
                                                режиме;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>розыск сумм, изменение условий и отзыв перевода;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>предоставление по телефонной, электронной и факсимильной связи
                                                оперативной информации об операциях и остатке на счетах с
                                                учетом требований безопасности;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>конверсионные и валютно-обменные операции по предварительному заказу и
                                                согласованному курсу;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>кассовое обслуживание в рублях и иностранной валюте, экспертиза денежных
                                                знаков.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="document-list">
                            <div class="document-list__wrapper">
                                <div class="document-list">
                                    <div class="document-list__title">
                                        <span>
                                            Тарифы
                                        </span>
                                    </div>
                                    <div class="document-list__block block">
                                        <div class="block__document">
                                            <div class="block__document__content-wrapper">
                                                <div class="block__document__icon">
                                                    <img src="../assets/img/images/pdf.png" alt="pdf">
                                                </div>
                                                <div class="block__document__text-wrapper">
                                                    <div class="block__document__title">
                                                        <span>Тарифы за услуги физическим лицам по расчетно-кассовому
                                                            обслуживанию (до 01.04.2022)</span>
                                                    </div>
                                                    <div class="block__document__description">
                                                        <span>PDF, 279 КБ / 04 июня 2018</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block__document">
                                            <div class="block__document__content-wrapper">
                                                <div class="block__document__icon">
                                                    <img src="../assets/img/images/pdf.png" alt="pdf">
                                                </div>
                                                <div class="block__document__text-wrapper">
                                                    <div class="block__document__title">
                                                        <span>Тарифы комиссионного вознаграждения за предоставление
                                                            услуги консультационного обслуживания VIP — клиентов</span>
                                                    </div>
                                                    <div class="block__document__description">
                                                        <span>PDF, 279 КБ / 04 июня 2018</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block__document" data-readmore-identifier="doc-list-readmore">
                                            <div class="block__document__content-wrapper">
                                                <div class="block__document__icon">
                                                    <img src="../assets/img/images/word.png" alt="pdf">
                                                </div>
                                                <div class="block__document__text-wrapper">
                                                    <div class="block__document__title">
                                                        <span>Общие условия комплексного банковского обслуживания</span>
                                                    </div>
                                                    <div class="block__document__description">
                                                        <span>PDF, 279 КБ / 04 июня 2018</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block__document" data-readmore-identifier="doc-list-readmore">
                                            <div class="block__document__content-wrapper">
                                                <div class="block__document__icon">
                                                    <img src="../assets/img/images/pdf.png" alt="pdf">
                                                </div>
                                                <div class="block__document__text-wrapper">
                                                    <div class="block__document__title">
                                                        <span>Перечень страховых организаций, удовлетворяющих
                                                            требованиям Банка</span>
                                                    </div>
                                                    <div class="block__document__description">
                                                        <span>PDF, 279 КБ / 04 июня 2018</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- data-readmore-identifier="doc-list-readmore" -->

                                    </div>
                                </div>
                                <div class="document-list__read-more read-more__wrapper">
                                    <div class="read-more readmore" id="doc-list-readmore">
                                        <span class="read-more__text-more">Смотреть все</span>
                                        <span class="read-more__text-less">Скрыть</span>
                                        <img src="../assets/img/svg/read-more-btn.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('inc/footer.html') %>
            </body>

            </html>