    <%- include('inc/header.html') %>
    <%- include('inc/private-menu.html') %>
        <div id="info" data-current-id="rko" data-main-menu-current-id="banking-head"></div>
        <!-- Main content-->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="/">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Private banking</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Расчеты</a></div>
                    <div class="breadcrumbs__step"><span>РКО</span></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page">
                    <div class="page__sidebar sidebar">
                        <div class="sidebar__overlay"></div>
                        <div class="sidebar__items">
                            <div class="sidebar__item sidebar__item--selected">
                                <div class="sidebar__item-text">
                                    <a href="rko.html">РКО</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Ячейки</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Премиальный пластиковые карты</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Расчеты при покупке недвижимости<br> с использованием
                                        аккредитива</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page__content basic-page">
                        <div class="basic-page__wrap">
                            <div class="basic-page__body rko">
                                <div class="rko__title">
                                    <h3>Расчетно-кассовое обслуживание в банке МФК включает в себя классические
                                        банковские услуги</h3>
                                </div>
                                <div class="rko__list">
                                    <ul>
                                        <li class="rko__item">
                                            <p>открытие и ведение банковских счетов в рублях и иностранной валюте;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>осуществление банковских переводов по оптимальным маршрутам в рублях и
                                                иностранной валюте;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>оплата регулярных расходов по генеральным поручениям в автоматическом
                                                режиме;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>розыск сумм, изменение условий и отзыв перевода;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>предоставление по телефонной, электронной и факсимильной связи
                                                оперативной информации об операциях и остатке на счетах с
                                                учетом требований безопасности;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>конверсионные и валютно-обменные операции по предварительному заказу и
                                                согласованному курсу;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>кассовое обслуживание в рублях и иностранной валюте, экспертиза денежных
                                                знаков.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('inc/footer.html') %>
            </body>

            </html>