<%- include('inc/header.html') %>
    <%- include('inc/private-menu.html') %>
        <div id="info" data-current-id="rko" data-main-menu-current-id="banking-head"></div>
        <!-- Main content-->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="/">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Private banking</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Расчеты</a></div>
                    <div class="breadcrumbs__step"><span>РКО</span></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page">
                    <div class="page__sidebar sidebar">
                        <div class="sidebar__overlay"></div>
                        <div class="sidebar__items">
                            <div class="sidebar__item sidebar__item--selected">
                                <div class="sidebar__item-text">
                                    <a href="rko.html">РКО</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Ячейки</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Премиальные пластиковые карты</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Расчеты при покупке недвижимости<br> с использованием
                                        аккредитива</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page__content basic-page">
                        <div class="garanty__card rko--card">
                            <div class="garanty__title-wrapper">
                                <div class="garanty__title text--uppercase">
                                    <span>Расчетно-кассовое обслуживание в банке МФК включает в себя классические
                                        банковские услуги:</span>
                                </div>
                            </div>
                            <div class="garanty__advantages">
                                <div class="garanty__advantage">
                                    <span>открытие и ведение банковских счетов в рублях и иностранной валюте;</span>
                                </div>
                                <div class="garanty__advantage">
                                    <span>осуществление банковских переводов по оптимальным маршрутам в рублях и
                                        иностранной валюте;</span>
                                </div>
                                <div class="garanty__advantage">
                                    <span>оплата регулярных расходов по генеральным поручениям в автоматическом
                                        режиме;</span>
                                </div>
                                <div class="garanty__advantage">
                                    <span>розыск сумм, изменение условий и отзыв перевода;</span>
                                </div>
                                <div class="garanty__advantage">
                                    <span>предоставление по телефонной, электронной и факсимильной связи
                                        оперативной информации об операциях и остатке на счетах с
                                        учетом требований безопасности;</span>
                                </div>
                                <div class="garanty__advantage">
                                    <span>конверсионные и валютно-обменные операции по предварительному заказу и
                                        согласованному курсу;</span>
                                </div>
                                <div class="garanty__advantage">
                                    <span>кассовое обслуживание в рублях и иностранной валюте, экспертиза денежных
                                        знаков.</span>
                                </div>
                            </div>
                        </div>
                        <div class="operations__documentation rko--docs">
                            <div class="operations__documentation-nav">
                                <div class="operations__docs">
                                    <div>
                                        <h3 class="operations__documentation-title">
                                            Тарифы
                                        </h3>
                                    </div>
                                    <div class="operations__documentation-list">
                                        <div class="operations__documentation-kind active" id="docs-item">
                                            <div class="operations__documentation-file">
                                                <img src="../assets/img/images/word.png" alt="pdf" width="24px"
                                                    height="30px">
                                                <div class="operations__documentation-content">
                                                    <H5 class="operations__documentation-description">
                                                        Тарифы комиссионного вознаграждения за предоставление услуги
                                                        консультационного обслуживания VIP — клиентов 
                                                    </H5>
                                                    <p class="operations__documentation-caracter">
                                                        PDF, 279 КБ / 04 июня 2018
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="operations__documentation-file">
                                                <img src="../assets/img/images/word.png" alt="pdf" width="24px"
                                                    height="30px">
                                                <div class="operations__documentation-content">
                                                    <H5 class="operations__documentation-description">
                                                        Тарифы комиссионного вознаграждения за предоставление услуги
                                                        консультационного обслуживания VIP — клиентов
                                                    </H5>
                                                    <p class="operations__documentation-caracter">
                                                        PDF, 279 КБ / 04 июня 2018
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="operations__documentation-file"
                                                data-readmore-identifier="doc-list-readmore">
                                                <img src="../assets/img/images/pdf.png" alt="pdf" width="24px"
                                                    height="30px">
                                                <div class="operations__documentation-content">
                                                    <H5 class="operations__documentation-description">
                                                        Правила дистанционного банковского обслуживания
                                                    </H5>
                                                    <p class="operations__documentation-caracter">
                                                        PDF, 279 КБ / 04 июня 2018
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="document-list__read-more read-more__wrapper">
                                <div class="read-more readmore" id="doc-list-readmore">
                                    <span class="read-more__text-more">Смотреть все</span>
                                    <span class="read-more__text-less">Скрыть</span>
                                    <img src="../assets/img/svg/read-more-btn.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('inc/footer.html') %>
            </body>

            </html>