<%- include('inc/header.html') %>
    <%- include('inc/client-menu.html') %>
        <div id="info" data-current-id="individual" data-main-menu-current-id="private-client-head"></div>
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="contributions.html">Частным клиентам</a></div>
                    <div class="breadcrumbs__step"><span>Индивидуальные банковские ячейки</span></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page-safebocks">
                    <!--Main Content -->
                    <div class="safeboxes">
                        <div class="safeboxes__text">
                            <p class="safeboxes__text-item">
                                Банк МФК предлагает своим клиентам различные стратегии сохранения денежных средств и
                                иных
                                материальных
                                ценностей — в том
                                числе самую консервативную:
                            </p>
                        </div>
                        <div class="safeboxes__kind">
                            <div class="safeboxes__item">
                                <img src="../assets/img/images/circle.png" alt="circle" width="15px" height="15px">
                                <a class="safeboxes__link" href="#">
                                    предоставление в аренду сейфовых ячеек;
                                </a>
                            </div>
                            <div class="safeboxes__item">
                                <img src="../assets/img/images/circle.png" alt="circle" width="15px" height="15px">
                                <a class="safeboxes__link" href="#">
                                    предоставление в аренду сейфовых ячеек с допуском к сейфу при соблюдении
                                    определенных
                                    условий.
                                </a>
                            </div>
                        </div>
                        <div class="picture">
                            <img class="picture-safeboxes" src="../assets/img/images/safeboxes.jpg" alt="safeboxes">
                        </div>
                        <div class="safeboxes__description">
                            <p class="safeboxes__description-item">
                                Банк МФК предлагает воспользоваться арендой сейфовых ячеек при совершении расчетов во
                                время
                                купли-продажи имущества, а
                                также при проведении иных крупных сделок.
                            </p>
                            <p class="safeboxes__description-item">
                                Если вы не уверены, что дома или в офисе ваши ценности и документы в безопасности, а
                                также,
                                если вы
                                планируете поездку и
                                не хотите оставлять ценные вещи без присмотра — аренда сейфовой ячейки гарантирует
                                безопасность
                                вашего
                                имущества.
                            </p>
                            <p class="safeboxes__description-item">
                                В банковском сейфе вы можете хранить деньги, драгоценности, ценные бумаги, документы и
                                другие
                                ценности.
                                Хранилище
                                надежно защищено — банк гарантирует доступ к сейфу исключительно клиенту или его
                                доверенным
                                лицам.
                            </p>
                        </div>
                    </div>
                    <div class="benefits">
                        <div class="benefits__item">
                            <img class="benefits-picture" src="../assets/img/icons/shield.png" alt="circle" width="70px"
                                height="70px">
                            <h4 class="benefits__title">
                                Высокий уровень защиты
                            </h4>
                            <p class="benefits__text">
                                в банковских сейфах ценности 24 часа в сутки надежно защищены от огня и других факторов
                            </p>
                        </div>
                        <div class="benefits__item">
                            <img class="benefits-picture" src="../assets/img/icons/lock.png" alt="circle" width="70px"
                                height="70px">
                            <h4 class="benefits__title">
                                Конфиденциальность
                            </h4>
                            <p class="benefits__text">
                                банк обеспечивает тайну аренды индивидуальных сейфов
                            </p>
                        </div>
                        <div class="benefits__item">
                            <img class="benefits-picture" src="../assets/img/icons/percent.png" alt="circle" width="70px"
                                height="70px">
                            <h4 class="benefits__title">
                                Выгодные условия
                            </h4>
                            <p class="benefits__text">
                                гибкая система скидок в зависимости от количества арендуемых сейфов и сроков их аренды
                            </p>
                        </div>
                        <div class="benefits__item">
                            <img class="benefits-picture" src="../assets/img/icons/briefcase.png" alt="circle" width="70px"
                                height="70px">
                            <h4 class="benefits__title">
                                Удобный сервис
                            </h4>
                            <p class="benefits__text">
                                арендаторы индивидуальных сейфов могут бесплатно пользоваться специализированным
                                банковским
                                оборудованием для пересчета
                                наличных денег
                            </p>
                        </div>
                    </div>
                    <div class="rates">
                        <div class="rates__link-item">
                            <a class="rates__link" href="#">
                                Тарифы на РКО
                            </a>
                            <svg class="rates__svg">
                                <use href="../assets/img/svg/sprite/symbol-defs.svg#icon-next" />
                            </svg>
                        </div>
                        <div class="rates__item-contacts">
                            <div class="rates__contacts">
                                <h5 class="rates__title">Контакты:</h5>
                                <p class="rates__text">
                                    r.rakhimov@mfk-bank.ru<br>
                                    +7 495 287-02-60
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('inc/footer.html') %>
            </body>

            </html>