<%- include('inc/header.html') %>
    <%- include('inc/client-menu.html') %>
        <div id="info" data-current-id="contributions" data-main-menu-current-id="private-client-head"></div>

        <!-- Main content-->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="contributions.html">Частным клиентам</a></div>
                    <div class="breadcrumbs__step"><a href="contributions.html">Вклады и счета</a></div>
                    <div class="breadcrumbs__step"><span>Накопительный счет</span></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page page--with-sidebar">
                    <div class="page__sidebar sidebar">
                        <div class="sidebar__overlay"></div>
                        <div class="sidebar__items">
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="contributions.html">Вклады</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item ">
                                <div class="sidebar__item-text">
                                    <a href="settlement-service.html">Расчетное обслуживание</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item sidebar__item--selected">
                                <div class="sidebar__item-text">
                                    <a href="savingsaccount.html">Накопительный счет</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                        </div>
                    </div>
                    <!--Main Content -->
                    <div class="operations">
                        <div class="operations__item">
                            <h2 class="second__title-settlement-service contributions_title">Накопительный счет</h2>
                            <div class="savingsaccount__filter">
                                <h4 class="savingsaccount__filter-title">
                                    Условия открытия счета «МФК Сберегательный»<br>
                                    Режим работы счета:
                                </h4>
                                <div class="savingsaccount__filter-wrapper">
                                    <div class="savingsaccount__filter-item" id="sav1">
                                        <p class="savingsaccount__filter-item__text">
                                            Срок размещения:
                                        </p>
                                        <h5 class="savingsaccount__filter-item__title">
                                            бессрочно
                                        </h5>
                                    </div>
                                    <div class="savingsaccount__filter-item" id="sav2">
                                        <p class="savingsaccount__filter-item__text">
                                            Минимальная, максимальная сумма размещения
                                        </p>
                                        <h5 class="savingsaccount__filter-item__title">
                                            без ограничений
                                        </h5>
                                    </div>
                                    <div class="savingsaccount__filter-item" id="sav3">
                                        <p class="savingsaccount__filter-item__text">
                                            Валюта счета
                                        </p>
                                        <h5 class="savingsaccount__filter-item__title">
                                            ₽
                                        </h5>
                                    </div>
                                    <div class="savingsaccount__filter-item" id="sav4">
                                        <p class="savingsaccount__filter-item__text">
                                            Частичные снятия
                                            <img class="text-picture" src="../assets/img/images/Accept.png" alt="Accept"
                                                width=15 height=15>
                                        </p>
                                    </div>
                                    <div class="savingsaccount__filter-item" id="sav5">
                                        <p class="savingsaccount__filter-item__text">
                                            Дополнительные взносы
                                            <img class="text-picture" src="../assets/img/images/Accept.png" alt="Accept"
                                                width=15 height=15>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="garanty__card savingsaccount__card">
                                <div class="garanty__title-wrapper">
                                    <div class="garanty__title">
                                        <span>Проценты по счету:</span>
                                    </div>
                                </div>
                                <div class="garanty__advantages">
                                    <div class="garanty__advantage">
                                        <span>проценты начисляются исходя из фактического остатка денежных средств на
                                            Счете на
                                            начало каждого дня в течение расчетного
                                            периода и выплачиваются ежемесячно в последний календарный день расчетного
                                            периода
                                            путем зачисления суммы причитающихся
                                            процентов на Счет;</span>
                                    </div>
                                    <div class="garanty__advantage">
                                        <span>в случае если последний календарный день приходится на выходной или
                                            праздничный
                                            день, выплата процентов за расчетный
                                            период осуществляется в ближайший следующий за ним рабочий день;</span>
                                    </div>
                                    <div class="garanty__advantage">
                                        <span>в случае закрытия счета до даты выплаты процентов, ранее начисленные
                                            проценты за
                                            этот расчетный период не выплачиваются;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="savingsaccount__percentage">
                                <h4 class="savingsaccount__filter-title">
                                    Проценты в соответствии с Условиями «МФК Сберегательный»<br> начисляются и
                                    выплачиваются на
                                    остаток денежных средств:
                                </h4>
                                <div class="percentage__wrapper">
                                    <div class="percentage__title">
                                        <p class="percentage">
                                            Остаток на счете
                                        </p>
                                        <p class="percentage">
                                            Процентная ставка (годовая)
                                        </p>
                                    </div>
                                    <div class="value-description">
                                        <ul class="description-list">
                                            <li class="description-item">
                                                <p class="description-text">
                                                    От 0-01 до 700 000-00 рублей включительно
                                                </p>
                                                <p class="description-text">
                                                    23,5%
                                                </p>
                                            </li>
                                            <li class="description-item">
                                                <p class="description-text">
                                                    От 700 000-01 до 1 500 000-00 рублей включительно
                                                </p>
                                                <p class="description-text">
                                                    23,25%
                                                </p>
                                            </li>
                                            <li class="description-item">
                                                <p class="description-text">
                                                    От 1 500 000-01 рублей
                                                </p>
                                                <p class="description-text">
                                                    23,0%
                                                </p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="operations__documentation default-card">
                                <div class="operations__documentation-nav">
                                    <div class="operations__documentation-block">
                                        <div>
                                            <h3 class="operations__documentation-title">
                                                Документы, оформляемые для целей валютного контроля
                                            </h3>
                                        </div>
                                        <div class="operations__documentation-list">
                                            <div class="operations__documentation-kind active">
                                                <div class="operations__documentation-file">
                                                    <img src="../assets/img/images/pdf.png" alt="pdf" width="24px" height="30px">
                                                    <div class="operations__documentation-content">
                                                        <H5 class="operations__documentation-description">
                                                            Заявление о постановке на учет контракта (кредитного договора)
                                                        </H5>
                                                        <p class="operations__documentation-caracter">
                                                        	<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="operations__documentation-file">
                                                    <img src="../assets/img/images/pdf.png" alt="pdf" width="24px" height="30px">
                                                    <div class="operations__documentation-content">
                                                        <H5 class="operations__documentation-description">
                                                            Сведения о валютных операциях
                                                        </H5>
                                                        <p class="operations__documentation-caracter">
                                                        	<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="operations__documentation-file" data-readmore-identifier="doc-list-readmore">
                                                    <img src="../assets/img/images/pdf.png" alt="pdf" width="24px" height="30px">
                                                    <div class="operations__documentation-content">
                                                        <H5 class="operations__documentation-description">
                                                            Справка о подтверждающих документах
                                                        </H5>
                                                        <p class="operations__documentation-caracter">
                                                        	<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more__wrapper">
                                    <div class="read-more readmore" id="doc-list-readmore">
                                        <span class="read-more__text-more">Смотреть все</span>
                                        <span class="read-more__text-less">Скрыть</span>
                                        <img src="../assets/img/svg/read-more-btn.svg" alt="">
                                    </div>
                                </div>
                            </div>
                           <!--  <div class="operations__documentation savingsaccount__documentation">
                                <div class="operations__documentation-nav">
                                    <div class="operations__documentation-block">
                                        <div>
                                            <h3 class="operations__documentation-title">
                                                Документы
                                            </h3>
                                        </div>
                                        <div class="operations__documentation-list">
                                            <div class="operations__documentation-kind active">
                                                <div class="operations__documentation-file">
                                                    <img src="../assets/img/images/pdf.png" alt="pdf" width="24px"
                                                        height="30px">
                                                    <div class="operations__documentation-content">
                                                        <H5 class="operations__documentation-description">
                                                            Условия открытия и обслуживания счета «МФК Сберегательный»
                                                            физического лица
                                                        </H5>
                                                        <p class="operations__documentation-caracter">
                                                        	<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="operations__documentation-file">
                                                    <img src="../assets/img/images/pdf.png" alt="pdf" width="24px"
                                                        height="30px">
                                                    <div class="operations__documentation-content">
                                                        <H5 class="operations__documentation-description">
                                                            Заявление на открытие счета МФК Сберегательный
                                                        </H5>
                                                        <p class="operations__documentation-caracter">
                                                        	<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="operations__documentation-file">
                                                    <img src="../assets/img/images/pdf.png" alt="pdf" width="24px"
                                                        height="30px">
                                                    <div class="operations__documentation-content">
                                                        <H5 class="operations__documentation-description">
                                                            Заявление на закрытие счета «МФК Сберегательный»
                                                        </H5>
                                                        <p class="operations__documentation-caracter">
                                                        	<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="operations__documentation-file hide" data-show="no">
                                                    <img src="../assets/img/images/pdf.png" alt="pdf" width="24px"
                                                        height="30px">
                                                    <div class="operations__documentation-content">
                                                        <H5 class="operations__documentation-description">
                                                            Заявление на закрытие и открытие счета «МФК Сберегательный»
                                                        </H5>
                                                        <p class="operations__documentation-caracter">
                                                        	<a class="def-link" href="#">PDF, 279 КБ / 04 июня 2018</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="documentation__more more" type="button" id="showmore">
                                    Смотреть все
                                    <svg class="more-picture">
                                        <use href="../assets/img/svg/sprite/symbol-defs.svg#icon-more" />
                                    </svg>
                                </button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('inc/footer.html') %>