<%- include('inc/header.html') %>
	<%- include('inc/client-menu.html') %>
		<div id="info" data-current-id="cards" data-main-menu-current-id="private-client-head"></div>

		<!-- Main content-->

		<section>
			<div class="container">
				<div class="breadcrumbs">
					<div class="breadcrumbs__step">Главная</div>
					<div class="breadcrumbs__step">Частным клиентам</div>
					<div class="breadcrumbs__step"> Монеты  Обмен валюты</div>
					<div class="breadcrumbs__step">Монеты</div>        
				</div>
			</div>
		</section>
<!-- 		<section class="container def-text-wrapper">
			<h2>Text</h2>
			<h3>Text</h3>
			<h4>Text</h4>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi quos adipisci alias, non at veritatis, suscipit velit ipsam dolor illum tempora similique sapiente, perspiciatis voluptate, commodi maxime est dicta harum.</p>
			<ul>
				<li>Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Perferendis, nostrum pariatur, mollitia amet veritatis excepturi fugiat corrupti beatae consequuntur quae dolore sit, deserunt laboriosam temporibus. Dolore, dignissimos laudantium adipisci excepturi.</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nemo, hic, cupiditate recusandae sed facere nostrum quo, dicta voluptas quibusdam natus eaque ex! Dolore ab, alias, quas rerum esse porro.</li>
			</ul>
			<table>
				<thead>
					<tr>
						<th>Название вклада</th>
						<th>Срок</th>
						<th>Ставка, % годовых</th>
						<th>Ставка, % годовых</th>
						<th>Ставка, % годовых</th>
						<th>Ставка, % годовых</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowSpan="3">МФК Максимум**</td>
					</tr>
					<tr>
						<td>1 мес.</br>3 мес.</td>
						<td>1.5</br>3.5</td>
						<td>1.5</br>3.5</td>
						<td>1.5</br>3.5</td>
						<td>1.5</br>3.5</td>
					</tr>
					<tr>
						<td>1 мес.</br>3 мес.</td>
						<td>1.5</br>3.5</td>
						<td>1.5</br>3.5</td>
						<td>1.5</br>3.5</td>
						<td>1.5</br>3.5</td>
					</tr>
				</tbody>
			</table>
		</section> -->
		<!-- <div class="modal-trigger" data-modal-id="modal" data-modal-title="Видео о проекте">trigger</div>
		<div class="def-modal modal modal-bg" id="modal">
			<div class="def-modal__outer-container">
				<div class="def-modal__inner-container def-modal__inner-container--75">
					<div class="def-modal__wrapper modal-window">
						<div class="def-modal__top">
							<div class="def-modal__title text--500 text--blue text--XL">
								<span class="modal-title"></span>
							</div>
							<div class="def-modal__cross modal-cross">
								<div class="def-modal__cross-line def-modal__cross-line--1"></div>
								<div class="def-modal__cross-line def-modal__cross-line--2"></div>
							</div>
						</div>
						<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper">
							<section class="def-text-wrapper">
								<h2>Text</h2>
								<h3>Text</h3>
								<h4>Text</h4>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi quos adipisci alias, non at veritatis, suscipit velit ipsam dolor illum tempora similique sapiente, perspiciatis voluptate, commodi maxime est dicta harum.</p>
								<ul>
									<li>Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Perferendis, nostrum pariatur, mollitia amet veritatis excepturi fugiat corrupti beatae consequuntur quae dolore sit, deserunt laboriosam temporibus. Dolore, dignissimos laudantium adipisci excepturi.</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nemo, hic, cupiditate recusandae sed facere nostrum quo, dicta voluptas quibusdam natus eaque ex! Dolore ab, alias, quas rerum esse porro.</li>
								</ul>
								<table>
									<thead>
										<tr>
											<th>Название вклада</th>
											<th>Срок</th>
											<th>Ставка, % годовых</th>
											<th>Ставка, % годовых</th>
											<th>Ставка, % годовых</th>
											<th>Ставка, % годовых</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td rowSpan="3">МФК Максимум**</td>
										</tr>
										<tr>
											<td>1 мес.</br>3 мес.</td>
											<td>1.5</br>3.5</td>
											<td>1.5</br>3.5</td>
											<td>1.5</br>3.5</td>
											<td>1.5</br>3.5</td>
										</tr>
										<tr>
											<td>1 мес.</br>3 мес.</td>
											<td>1.5</br>3.5</td>
											<td>1.5</br>3.5</td>
											<td>1.5</br>3.5</td>
											<td>1.5</br>3.5</td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>
					</div>
				</div>	
			</div>
		</div> -->
		<section>
			<div class="container">
				<div class="card-details m--t-75 m--b-75">
					<div class="card-details__outer-wrapper">
						<div class="card-details__image-wrapper full-img--w m--r-45 xsm-m--r-0">
							<img src="../assets/img/images/gold-mastercard.png" alt="">
						</div>
						<div class="card-details__title-wrapper fx fx-d--c fx-jc--c">
							<span class="text--400 text--M text--cyan">Классическая</span>
							<span class="text--700 text--XXL text--blue">Мир пенсионная</span>
						</div>
						<div class="card-details__content-wrapper fx fx-jc--sa fx-wr--w md-m--t-35">
							<div class="fx-el--33 xsm-fx-el--50 fx fx-ai--c">
								<div class="fx fx-d--c p--15 md-p--10">	
									<span class="text--400 text--dark-gray text--S">Годовых на остаток</span>
									<span class="text--700 text--XL text--blue">до 7,0%</span>
								</div>
							</div>
							<div class="fx-el--33 xsm-fx-el--50 fx fx-ai--c">
								<div class="fx fx-d--c p--15 md-p--10">	
									<span class="text--400 text--dark-gray text--S">Годовых на остаток</span>
									<span class="text--700 text--XL text--blue">до 7,0%</span>
								</div>
							</div>
							<div class="fx-el--33 xsm-fx-el--50 fx fx-ai--c">
								<div class="fx fx-d--c p--15 md-p--10">	
									<span class="text--400 text--dark-gray text--S">Годовых на остаток</span>
									<span class="text--700 text--XL text--blue">до 7,0%</span>
								</div>
							</div>
							<div class="fx-el--33 xsm-fx-el--50 fx fx-ai--c text--400 text--dark-gray text--S p--15 md-p--10">
								<span class="m--r-15">SMS-информирование</span>
								<img src="../assets/img/images/Accept.png" alt="">
							</div>
							<div class="fx-el--33 xsm-fx-el--50 fx fx-ai--c text--400 text--dark-gray text--S p--15 md-p--10">
								<span class="m--r-15">Просмотр выписки по карте</span>
								<img src="../assets/img/images/Accept.png" alt="">
							</div>
							<div class="fx-el--33 xsm-fx-el--50 fx fx-ai--c text--400 text--dark-gray text--S p--15 md-p--10">
								<span class="m--r-15">Интернет-банк</span>
								<img src="../assets/img/images/Accept.png" alt="">
							</div>
						</div>
					</div>
				</div>	
			</div>
		</section>
		<section>
			<div class="container m--b-75">
				<div class="cyan-tabs cyan-tabs--bg-cyan-gradient m--b-25">
					<div class="tabs" data-underline="true" data-tab-container-id="tab-container">
						<div class="tabs__tab active" data-tab-window-id="about-card">
							<span>О карте</span>
						</div>
						<div class="tabs__tab" data-tab-window-id="tarifs">
							<span>Тарифы</span>
						</div>
						<div class="tabs__tab" data-tab-window-id="documents">
							<span>Документы</span>
						</div>
						<div class="tabs__underline">
						</div>
					</div>
				</div>
				<div class="tabs__windows cyan-tabs__window-container" id="tab-container">
					<div class="tabs__tab-window text--dark-gray text--M text--400" id="about-card">
						<h2 class="text--700 text--blue text--XL text--uppercase m--b-25">УДОБНАЯ ДЛЯ ПОЛУЧЕНИЯ ПЕНСИИ, ВЫГОДНАЯ ДЛЯ ХРАНЕНИЯ ДЕНЕГ И СОВЕРШЕНИЯ ПОКУПОК.</h2>

						<h4 class="text--cyan m--b-25">Преимущества карты:</h4>
						<p class="text--blue m--b-15">До 7,0% годовых на остаток по счету карты без обязательных требований к сумме минимального и максимального остатка.</p>
						<p class="m--b-25">Начисление процентов производится ежемесячно. Проценты по ставке 7,0% начисляются при условии зачисления пенсии на счет карты в течение месяца, за который осуществляется начисление процентов, в иных случаях - по ставке 5,0%.</p>
						<p class="text--blue m--b-15">Заявление о зачислении пенсии в Банк можно оформить в любом офисе. Вам потребуется паспорт, СНИЛС и пенсионное удостоверение. Банк самостоятельно направит ваше заявление в Пенсионный Фонд, после чего пенсия будет поступать на карту Банка</p>
					</div>
					<div class="tabs__tab-window text--dark-gray text--M text--400" id="tarifs">
						<h2 class="text--700 text--blue text--XL text--uppercase m--b-25">УДОБНАЯ ДЛЯ ПОЛУЧЕНИЯ ПЕНСИИ, ВЫГОДНАЯ ДЛЯ ХРАНЕНИЯ ДЕНЕГ И СОВЕРШЕНИЯ ПОКУПОК.</h2>

						<h4 class="text--cyan m--b-25">Преимущества карты:</h4>
						<p class="text--blue m--b-15">Заявление о зачислении пенсии в Банк можно оформить в любом офисе. Вам потребуется паспорт, СНИЛС и пенсионное удостоверение. Банк самостоятельно направит ваше заявление в Пенсионный Фонд, после чего пенсия будет поступать на карту Банка</p>
						<p class="text--blue m--b-15">До 7,0% годовых на остаток по счету карты без обязательных требований к сумме минимального и максимального остатка.</p>
						<p class="m--b-25">Начисление процентов производится ежемесячно. Проценты по ставке 7,0% начисляются при условии зачисления пенсии на счет карты в течение месяца, за который осуществляется начисление процентов, в иных случаях - по ставке 5,0%.</p>
						
					</div>
					<div class="tabs__tab-window text--dark-gray text--M text--400" id="documents">
						<h2 class="text--700 text--blue text--XL text--uppercase m--b-25">УДОБНАЯ ДЛЯ ПОЛУЧЕНИЯ ПЕНСИИ, ВЫГОДНАЯ ДЛЯ ХРАНЕНИЯ ДЕНЕГ И СОВЕРШЕНИЯ ПОКУПОК.</h2>

						<h4 class="text--cyan m--b-25">Преимущества карты:</h4>
						<p class="text--blue m--b-15">До 7,0% годовых на остаток по счету карты без обязательных требований к сумме минимального и максимального остатка.</p>
						<p class="m--b-25">Начисление процентов производится ежемесячно. Проценты по ставке 7,0% начисляются при условии зачисления пенсии на счет карты в течение месяца, за который осуществляется начисление процентов, в иных случаях - по ставке 5,0%.</p>
						<p class="text--blue m--b-15">Заявление о зачислении пенсии в Банк можно оформить в любом офисе. Вам потребуется паспорт, СНИЛС и пенсионное удостоверение. Банк самостоятельно направит ваше заявление в Пенсионный Фонд, после чего пенсия будет поступать на карту Банка</p>
					</div>
				</div>	
			</div>
		</section>
	<%- include('inc/footer.html') %>

</body>

</html>