<%- include('inc/header.html') %>
    <%- include('inc/corporate-menu.html') %>
        <div id="info" data-current-id="bank" data-main-menu-current-id="corporative-head"></div>

        <!-- Main content-->

        <section class="container">
            <div class="second__header-operations">
                <div class="second__text-credits__list">
                    <a class="second__text-credits" href="#">Главная /</a>
                    <a class="second__text-credits" href="./accountopen.html">Корпоративным клиентам /</a>
                    <a class="second__text-credits" href="./accountopen.html">Банковское обслуживание /</a>
                    <a class="second__text-credits current-second__text-credits" href="./tarif.html">Тарифы</a>
                </div>
            </div>
            <div class="operations">
                <div class="page__sidebar sidebar">
                    <div class="sidebar__overlay"></div>
                    <div class="sidebar__items">
                        <div class="sidebar__item ">
                            <div class="sidebar__item-text">
                                <a href="accountopen.html">Открытие расчетного счета</a>
                            </div>
                            <div class="sidebar__item-icon"></div>
                        </div>
                        <div class="sidebar__item">
                            <div class="sidebar__item-text">
                                <a href="ved.html">ВЭД</a>
                            </div>
                            <div class="sidebar__item-icon"></div>
                        </div>
                        <div class="sidebar__item">
                            <div class="sidebar__item-text">
                                <a href="specialchecks.html">Специальные счета</a>
                            </div>
                            <div class="sidebar__item-icon"></div>
                        </div>
                        <div class="sidebar__item">
                            <div class="sidebar__item-text">
                                <a href="distance-services.html">Дистанционные сервисы</a>
                            </div>
                            <div class="sidebar__item-icon"></div>
                        </div>
                        <div class="sidebar__item">
                            <div class="sidebar__item-text">
                                <a href="operations.html">Операции с ценными бумагами</a>
                            </div>
                            <div class="sidebar__item-icon"></div>
                        </div>
                        <div class="sidebar__item sidebar__item--selected">
                            <div class="sidebar__item-text">
                                <a href="tarif.html">Тарифы</a>
                            </div>
                            <div class="sidebar__item-icon"></div>
                        </div>
                        <div class="sidebar__item">
                            <div class="sidebar__item-text">
                                <a href="#">Документы</a>
                            </div>
                            <div class="sidebar__item-icon"></div>
                        </div>
                    </div>
                </div>
                <div class="operations__item">
                    <div class="rates operations__rates">
                        <div class="rates__item">
                            <div class="rates__link-item rates__link-item--full">
                                <a class="rates__link" href="#">
                                    Тарифы на РКО
                                </a>
                                <svg class="rates__svg">
                                    <use href="../assets/img/svg/sprite/symbol-defs.svg#icon-next" />
                                </svg>
                            </div>
                        </div>
                        <div class="rates__item">
                            <div class="rates__link-item rates__link-item--full">
                                <a class="rates__link" href="#">
                                    Тарифы по документарным операциям
                                </a>
                                <svg class="rates__svg">
                                    <use href="../assets/img/svg/sprite/symbol-defs.svg#icon-next" />
                                </svg>
                            </div>
                        </div>
                        <div class="rates__item">
                            <div class="rates__link-item rates__link-item--full">
                                <a class="rates__link" href="#">
                                    Тарифы депозитария
                                </a>
                                <svg class="rates__svg">
                                    <use href="../assets/img/svg/sprite/symbol-defs.svg#icon-next" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('inc/footer.html') %>

            </body>

            </html>