.lifestyle {
}
.lifestyle-title {
}
.lifestyle-about {
    background: #001843;
    box-shadow: 0px 4px 4px rgba(86, 31, 0, 0.1);
    border-radius: 2px;
		// .lifestyle-about__text

		&__text {
		}
}
.lifestyle-programm {

		// .lifestyle-programm__wrap

		&__wrap {
		}
}
.programm-title {
}
.programm-list {

		// .programm-list__item

		&__item {
		}
}
.item-circle {
}
.item {

		// .item_text

		&_text {
		}
}
.insurance-wrap {
}
.insurance-about {

		// .insurance-about__title

		&__title {
		}

		// .insurance-about__text

		&__text {
		}

		// .insurance-about__list

		&__list {
		}

		// .insurance-about__item

		&__item {
		}

		// .insurance-about__locate-wrap

		&__locate-wrap {
		}

		// .insurance-about__locate

		&__locate {
		}

		// .insurance-about__locate-item

		&__locate-item {
		}
}
.locate-item {
}
.insurance-picture {
}
