.acor-container {
    margin: 20px 0;
}
.acor-container .acor-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    width: calc(100% - 40px);
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: #BFE2FF;
    line-height: 18px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Helvetica, sans-serif; 
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
    transition: all 0.35s;

}
.acor-container .acor-body a {
    flex: 1 0 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #999;
    color:#00208F;
    :visited,:active {
        color:#00208F;
    }
}
.acor-container label {
    cursor: pointer;
    text-transform: uppercase;
    background-color: #337AB7;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: #BFE2FF;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Helvetica, sans-serif;   
    font-size: 18px;
    margin: 0 0 5px;
    transition: color .35s;
}
.acor-link{
    text-transform: uppercase;
}
.acor-container label:hover {
    color: #FFF;
    text-transform: uppercase;
}
.acor-container input{
    display: none;
}
.acor-container label:before {
    content: '\276F';
    float: right;
    transition: transform .35s;
}
.acor-container input:checked + label {
    background-color: #285f8f;
    color: #FFF;
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.acor-container input:checked + label:before {
    transform: rotate(90deg);
    transition: transform .35s;
}
.acor-container input:checked + label + .acor-body {
    height: auto;
//    margin-top: -5px;
    color: #000;
//    padding: 20px 0 10px;
    // padding: 20px 30px 10px;
    transition: all 0.35s;
}