.breadcrumbs {
	display: flex;justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 65px 0 55px;
	@media screen and(max-width: 768px){
		margin: 18px 0 40px;
	}
	&__step {
		color: #001843;
		font-style: normal;
		font-weight: 400;
		font-size: rem(16);
		line-height: 18px;
		&:last-child {
			color: #747474;
		}
		&:not(:last-child):after { 
			content: '/';
			margin: 0 15px;
		}
		&>a:active, &>a:visited, &>a:link {
			color: #001843;
		}
	}

}
.deposits-breadcrumbs{
	.breadcrumbs{
		 margin:0px;
		 padding: 40px 25px 30px;
		&__step {
			color: #fff;
			&>a:active, &>a:visited, &>a:link {
				color: #fff;
		}
	}
	}
	@media screen and(max-width: 768px){
            display: none;
      };
      &--mobile{
            display: none;
            @media screen and(max-width:768px){
                  display: block;
            }
      }
}
