@media  screen and (min-width:992px) {
    .dropdown{
    display: none;
} 
}

@media screen and (max-width: 992px) {
.dropbtn {
    display: flex;
    align-items: center;
    justify-content:center;
    width: -webkit-fill-available;
    margin-bottom: 40px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 107.93%;
    text-transform: uppercase;
    padding:16px;
    background: #FFFFFF;
    border: 0.2px solid #AFAFAF;
    box-shadow: 0px 4px 4px rgba(86, 31, 0, 0.1);
    border-radius: 2px;
    background: linear-gradient(274.25deg, #00205B -9.03%, #00A3E0 138.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    cursor: pointer;
}
.dropdown__picture{
    margin-left: 20px;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background: linear-gradient(274.25deg, #00205B -9.03%, #00A3E0 138.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

}
