// .header-section {
//     display: grid;
//     grid-template-columns: 1fr 1fr 0.8fr 0.8fr 0.7fr;
//     grid-template-rows: 1fr 1fr;
//     padding: 24px 0px;
//     align-items: center;
	
//     @media screen and (max-width:576px) {

//    }
//     @media screen and (max-width:992px){
//         grid-template-columns: 1fr 1fr 1fr 0.1fr 0.1fr 1fr;
//         grid-template-rows: 1fr 1fr;
//         padding-bottom: 25px;
//         column-gap: 1%;
//     }
// }
// #logo-head{
//     grid-column: 1/2;
//     grid-row: 1/3;
//     // @media screen and (max-width:576px){
//     //     grid-column: ;
//     //     grid-row: ;       
//     // }
//     @media screen and (max-width: 992px) {
//         grid-column: 1/2;
//         grid-row: 1/3; 
//     }
//     @media screen and (max-width:767px) {
//         display: flex;
//         align-self: flex-start;
//         margin-left: 15px;
//     }
// }
// #about{
//     grid-column: 2/4;
//     grid-row: 1/2;
//     //  @media screen and (max-width:576px){
//     //     grid-column: ;
//     //     grid-row: ;       
//     // }
//     @media screen and (max-width: 992px) {
//         grid-column: 2/3;
//         grid-row: 1/2; 
//     }
// }
// #contacts{
//     grid-column:4/5 ;
//     grid-row: 1/2;
//     align-self: center;
//     //  @media screen and (max-width:576px){
//     //     grid-column: ;
//     //     grid-row: ;       
//     // }
//     @media screen and (max-width: 992px) {
//         grid-column:5/6;
//         grid-row: 1/2; 
		
//     }
// }
// #corporative-head{
//     grid-column: 2/3;
//     grid-row: 2/3;
//     //  @media screen and (max-width:576px){
//     //     grid-column: ;
//     //     grid-row: ;       
//     // }
//     @media screen and (max-width: 992px) {
//         grid-column: 2/3;
//         grid-row: 2/3; 
//     }
// }
// #private-client-head{
//     grid-column: 3/4;
//     grid-row: 2/3;
//     //  @media screen and (max-width:576px){
//     //     grid-column: ;
//     //     grid-row: ;       
//     // }
//     @media screen and (max-width: 992px) {
//         grid-column: 3/6;
//         grid-row: 2/3; 
//     }
// }
// #private-banking-head{
//     grid-column: 4/5;
//     grid-row: 2/3;
//     //  @media screen and (max-width:576px){
//     //     grid-column: ;
//     //     grid-row: ;       
//     // }
//     @media screen and (max-width: 992px) {
//         grid-column: 6/7;
//         grid-row: 2/3; 
//     }
// }
// #search-box{
//     grid-column: 5/6;
//     grid-row: 1/2;
//     align-self: center;
//     justify-self: end;
//     //  @media screen and (max-width:576px){
//     //     grid-column: ;
//     //     grid-row: ;       
//     // }
//     @media screen and (max-width: 992px) {
//         grid-column: 4/5;
//         grid-row: 1/2; 
//     }
// }
// #online-head{
//     grid-column: 5/6;
//     grid-row: 2/3;
//     justify-self: end;
//      @media screen and (max-width:767px){
//         display: none;      
//     }
//     @media screen and (max-width: 992px) {
//         grid-column: 6/7;
//         grid-row: 1/2; 
//     }
// }
// .header-border{
//     grid-column: 2/5;
//     grid-row: 2/3;
//     padding-top: 19px;
//     @media screen and (max-width:767px){
//         display: none;
//     }
//     @media screen and (max-width: 992px) {
//         grid-column: 2/7;
//         grid-row: 2/3; 
//     }

// }
.header{
	background: linear-gradient(274.25deg, #00205B -9.03%, #00A3E0 138.82%); 
}
.header-menu {
	padding-top: 25px;
	padding-bottom: 25px;
	// margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo-wrapper {
		flex: 0 0 12%;
		margin-right: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media screen and (max-width: 768px) {
			flex-direction: row;
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		&>img{
			width: 100%;
			height: auto;
			@media screen and (max-width: 768px) {
				height: 40px;
				width: auto;
				margin-right: 10px;
			}
		}
	}
	&__logo-text {
		word-spacing: 1000px; // big number
	}
	&__desktop-content-wrapper {
		flex: 1 1 100%;
		max-width: 980px;
		display: flex;
		// flex-direction: column;
		flex-wrap: wrap;
		row-gap:15px;
		justify-content: space-between;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	&__top-menu {
		order: 0;
		display: flex;
		align-items: center;
		gap:20px;
		@media screen and (max-width: 992px) {
			flex: 0 0 50%;
			gap: 0;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
	&__top-menu-item {
		@media screen and (max-width: 992px) {
			padding: 5px;
			text-align: center;
		}
	}
	&__contacts {
		order: 1;
		display: flex;
		align-items: center;
		&>span{
			@media screen and (max-width: 992px) {
				display: none;
			}
		}
	}
	&__contacts-icon {
		margin-right: 10px;
		&>img{
			width: 21px;
			height: auto;
		}
	}
	&__search {
		order: 2;
		display: flex;
		&>input{
			@media screen and (max-width: 1200px) {
				display: none;
			}
		}
	}
	&__search-icon {
		cursor: pointer;
		display: flex;
		align-items: center;
	}
	&__bottom-menu {
		order: 4;
		display: flex;
		align-items: flex-end;
		gap: 30px;
		position: relative;
	}
	&__bottom-menu-item {
		position: relative;
		z-index: 1;
		//padding: 5px;
		padding-bottom: 5px;
		&.active{
			color: #2BC5FF;
			border-bottom: 2px solid #00A3E0;
		}
	}
	&__bottom-menu-underline{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: 0.5px solid #D3D3D3;
		z-index: 0;
	}
	&__button {
		&>button{
			background: #00A3E0;
			border-radius: 2px;
			padding: 10px 20px;
			border: none;
			color: inherit;
			@media screen and (max-width: 992px) {
				padding: 10px;
			}
		}
		order: 5;
		@media screen and (max-width: 992px) {
			order: 3;
		}
	}
	&__burger-wrapper{
		@media screen and (min-width: 768px) {
			display: none;
		}
		width: 40px;
		height: 30px;
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;

	}
	&__burger{
		width: 100%;
		height: 2px;
		border-radius: 1px;
		background-color: #fff;

		&:before{
			content:'';
			position: absolute;
			border: 1px solid #fff;
			border-radius: 1px;
			top: 0;
			width: 100%;
		}
		&:after{
			content:'';
			position: absolute;
			border: 1px solid #fff;
			border-radius: 1px;
			bottom: 0;
			width: 100%;
		}

	}
}

// .numder-head,
// .search-form-input{
// 	@media  screen and (max-width:992px) {
// 		display: none;
// 	}
// }
// .numder-head{
// 	font-family: 'Helvetica';
// 	font-style: normal;
// 	font-weight: 400;
// 	font-size: 16px;
// 	line-height: 18px;
// 	text-transform: uppercase;
// 	color: #FFFFFF;
// }

// .logo-picture {
// 	width:152px; 
// 	height:62px;
// 	@media screen and (max-width: 992px) {
// 		width:94px; 
// 		height:38px;
// 	}
	
// }

// .header{
// 	width: auto;
// 	background: linear-gradient(274.25deg, #00205B -9.03%, #00A3E0 138.82%); 
// }

// .logo-title{
// 	font-family: 'Helvetica';
// 	font-style: normal;
// 	font-weight: 500;
// 	font-size: 14px;
// 	line-height: 17px;
// 	display: flex;
// 	align-items: flex-end;
// 	color: #FFFFFF;
// 	padding-top:10px;
// 	@media screen and (max-width: 992px) {
// 		padding-top: 0px;
// 		font-size: 12px;
// 		line-height: 14px;
// 		align-items: center;  
// 	}
// 	@media screen and (max-width: 767px) {
// 		margin-left: 10px;;
// 	}
// }
// .about{
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	@media screen and (max-width:767px) {
// 		display: none;
// 	}
// }
// .about-list{
// 	display: flex;
// 	width: 315px;
// 	justify-content: space-between;
// 	@media screen and (max-width: 991px) {
// 		width: 280px;
// 	}
// }

// .about-link{
// 	font-family: 'Helvetica';
// 	font-style: normal;
// 	font-weight: 400;
// 	font-size: 16px;
// 	line-height: 18px;
// 	display: flex;
// 	align-items: flex-end;
// 	color: #FFFFFF;
// 	text-decoration: none;
// }
// .contacts{
// 	@media screen and (max-width: 767px){
// 		display: none;
// 	}
// }
// .contacts-link{
// 	display: flex;
// 	align-items: center;
// 	font-family: 'Helvetica';
// 	font-style: normal;
// 	font-weight: 400;
// 	font-size: 16px;
// 	line-height: 18px;
// 	text-transform: uppercase;

// 	color: #FFFFFF;
// 	text-decoration: none;
// }
// .contacts-image{
// 	margin-right: 10px;
// 	height: 21px;
// 	width: 21px;

// }
// .search-box{
// 	@media screen and (max-width: 767px) {
// 		display: none;
// 	}
// }
// .search-form-action{
// 	display: flex;
// 	align-items: center;
// 	border-bottom: #FFFFFF;
// }
// .search-form-input{
// 	width: 120px;
// 	background-color: transparent;
// 	color: #FFFFFF;
// 	border: none;
// 	border-bottom: 1px solid rgba(184, 184, 184, 1);
// 	box-shadow: none;
// 	text-decoration: #FFFFFF;
// }
// .search-btn{
// 	border:none;
// 	border-bottom: #FFFFFF;
// 	background-color: transparent;
// }
// .search-icon{
// 	width:22px;
// 	height: 22px;
// }
// .page-sector{
// 	@media screen and (max-width: 767px) {
// 		display: none;
// 	}
// } 

// .pages-link {
// 	font-family: 'Helvetica';
// 	font-style: normal;
// 	font-weight: 700;
// 	font-size: 16px;
// 	line-height: 18px;
// 	text-transform: uppercase;
// 	color: #ffffff;
// 	text-decoration: none;
// 	@media screen and (max-width:1200px) {
// 		font-size: 14px;
// 		line-height: 16px;
// 	}
// }
// .pages-link::after{
// 	border-bottom: #00A3E0;
// }

//  .pages-link.current{
// 	border-bottom: 3px solid #2BC5FF;
// 	color:#2BC5FF;
// }
// .bank-btn {
// 	width: 150px;
// 	height: 40px;
// 	font-family: 'Helvetica';
// 	font-style: normal;
// 	font-weight: 400;
// 	font-size: 16px;
// 	line-height: 18px;
// 	align-items: center;
// 	background: #00A3E0;
// 	border-radius: 2px;
// 	color: #FFFFFF;
// 	border-style: none;
// }