.coins {
	&__search {
	margin-bottom: 86px;
	}
	&__items {
		
	}
}
.coin-search {
	&__wrap {}
	&__title {
			h2{
			font-style: normal;
			font-weight: 400;
			font-size: rem(20);
			line-height: rem(25);
		}
		margin-bottom: 10px;
	}
	&__line {
		display: flex;
		justify-content: center;
		align-items: stretch;
		margin-bottom: 18px;
		input{
			flex: 1 0 auto;
			background: linear-gradient(222.02deg, rgba(0, 46, 130, 0.1) -11.58%, rgba(0, 163, 224, 0.1) 125.94%);
			border-radius: 5px;
			border: none;
			&::placeholder {
				padding-left: 5%;
				color: #a7a7a7;
			}
		}
	}
	&__btn {
		@media screen and (max-width: 768px) {
			width: auto;
			padding: 0 5%;
		}
	}
	&__filters {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		@media screen and (max-width: 1200px) {
			justify-content: center;
		}
	}
}
.filters {
	&>:not(last-child){
		margin-right: 40px;
		color: #676767;
	}
	&>* {
		@media screen and (max-width:768px) {
			margin: 5px 0;
		}
	}
	&__title {}
	&__price {}
	&__year {}
	&__filter-all {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
.filter {
	&__sort {
		position: relative;
		margin-right: 50px !important;
		&:after {
			content: '';
			position: absolute;
			width: 9.5px;
			height: 9.5px;
			border-bottom: 1px solid;
			border-right: 1px solid;
			transform-origin: bottom right;
			margin-left: 2px;
			transition: all 0.2s;
		}
		&--up{
			&:after{
				transform: rotate(-135deg);
				top: 0%;
				margin-top: -5px;
				transition: all 0.2s;
			}
		}
		&--down{
			&:after{
				transform: rotate(45deg);
				top: 50%;
				margin-top: -6.5px;
				transition: all 0.2s;
			}
		}
	}
}
.form-control {
	display: flex;
	justify-content: flex-start;
	&:not(:last-child){
		margin-right: 40px;
	}
	input[type="radio"] {
		appearance: none;
		&:checked+label{
			background: linear-gradient(224.4deg, #7B1931 -23.64%, #E05226 113.52%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			}
	}
}
.coins-items {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	&__item {
		margin-bottom: 60px;
	}
}
.card {
	--gap: 15px;
	background: #FFFFFF;
	border: 1px solid #D1D1D1;
	box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
	&__wrap {
		display: grid;
		grid-template-rows: [coin-start v-line-start] 30px [title-start price-start] auto [title-end h-line-start] 40px [h-line-end prop-start] 1fr [price-end btn-start] 1fr [btn-end prop-end coin-end] 30px [v-line-end];  
		grid-template-columns: 7px [coin-start] 145px [coin-end] 20px [title-start h-line-start prop-start] 1fr [title-end h-line-end prop-end] 20px [price-start btn-start v-line-start] 200px [v-line-end price-end btn-end] 7px;
		align-items: stretch;
		justify-items: stretch;
		@media screen and (min-width:992px) and (max-width: 1440px), (max-width: 768px) {
			grid-template-rows: 20px [coin-start title-start] auto [title-end coin-end h-line-start] 30px  [h-line-end prop-start price-start] auto [prop-end price-end] 21px [btn-start] auto [btn-end] 30px;  
			grid-template-columns: [h-line-start] 25px [coin-start prop-start btn-start] 82px [coin-end] 25px [title-start] 2fr [prop-end] var(--gap) [price-start] 1fr [title-end price-end btn-end] 25px [h-line-end];
			align-items: flex-start;
		}
		@media screen and (max-width: 500px) {
			grid-template-rows: 20px [coin-start title-start] auto [title-end coin-end h-line-start] 30px  [h-line-end prop-start] auto [prop-end price-start] auto [price-end]  25px [btn-start] auto [btn-end];  
			grid-template-columns: [h-line-start btn-start] 10px [coin-start prop-start price-start] 82px [coin-end] 10px [title-start] auto [title-end prop-end price-end] 10px [h-line-end btn-end];
			align-items: flex-start;
		}
	}
	&__coin-wrap {
		grid-column: coin-start / coin-end;
		grid-row: coin-start / coin-end;
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 100%;
		}
	}
	&__title-wrap {
		grid-column: title-start / title-end;
		grid-row: title-start / title-end;
		position: relative;
		@media screen and (min-width:992px) and (max-width: 1440px), (max-width: 768px) {
			align-self: center;
		}
		@media screen and (max-width: 500px) {
			&>:not(:last-child){
				padding-bottom: 10px;
			}
		}
	}
	&__title-art {
		&>:first-child{
			margin-right: 43px;
			@media screen and (max-width: 500px) {
				margin-right: 20px;
			}
		}
	}
	&__h-line-wrap{
		grid-column: h-line-start / h-line-end;
		grid-row: h-line-start / h-line-end;
		align-self: center;
	}
	&__h-line {
		height: 1px;
		background-color: #DBDBDB;
	}
	&__prop-wrap {
		grid-column: prop-start / prop-end;
		grid-row: prop-start / prop-end;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&__prop-item {
		flex: 0 0 calc(50% - var(--gap));
		padding-bottom: 15px;
	}
	&__price-wrap {
		grid-column: price-start / price-end;
		grid-row: price-start / price-end;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 29px;
		&>:not(:last-child){
			margin-bottom: 18px;
		}
		@media screen and (min-width:992px) and (max-width: 1440px), (max-width: 768px) {
			margin: 0;
		}
		@media screen and (max-width: 500px) {
			flex-direction: row;
			margin: 0;
			justify-content: space-between;
			.card__price-item{
				margin: 0;
				flex: 0 0 calc(50% - var(--gap));
			}
		}
	}
	&__v-line {
		grid-column: v-line-start / v-line-end;
		grid-row: v-line-start / v-line-end;
		border-left: 1px solid #C5C5C5;
		@media screen and (max-width: 1200px) {
			display: none;
		}
	}

	&__btn-wrap {
		grid-column: btn-start / btn-end;
		grid-row: btn-start / btn-end;
		padding-left: 10px;
		.btn {
			max-width: 100%;
			&:visited, &:active, &:hover{
				color: #fff;
			}
		}
		@media screen and (min-width:992px) and (max-width: 1440px), (max-width: 768px) {
			padding: 0;
			justify-self: center;
		}
		@media screen and (max-width: 500px) {
			justify-self: stretch;
			&>.card__btn{
				width: 100%;
			}
		}
	}
}