.second__title-settlement-service{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 107.93%;
    text-align: center;
    text-transform: uppercase;
    color: #003772;
    margin-bottom: 40px;
}
.operations__kind-title.settlement-service__title{
    margin-left: 20px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #00205B;
}
.settlement-service__item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.settlement-service__text{
    margin-left: 10px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #5B5C5F;
}